{% extends "ZeroBundle:Default:index.html.twig" %}
{% block content %}
<div card>
    <h1>Если у Вас уже есть учётная запись:</h1>
    {% if error %}
        <div card onerror>{{ error.message }}</div>
    {% endif %}

    {% if error %}
        <div card>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <table>
            <tr>
                <td>
                    <label for="username">Логин:</label>
                </td>
                <td>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Пароль:</label>
                </td>
                <td>
                    <input type="password" id="password" name="_password" />
                </td>
            </tr>
        {#<input type="hidden" name="_target_path" value="{{  }}" />#}
            <tr>
                <td colspan="2" class="button">
                <button bg-amber400 hover ripple-color="tealA400" type="submit">Войти</button>
                </td>
            </tr>
        </table>
    </form>

    <div card>Обязательно посетите нас ещё!</div>
</div>
{% endblock %}
{% block foot_scripts %}
{% endblock %}