{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
<div card z-1 bg-white class="auth_mini_block">
<form horizontal action="{{ path('login_check') }}" method="post">
        {#<div control smaller>#}
        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Логин"/>
        {#</div>#}
        {#<div control smaller>#}
        <input type="password" id="password" name="_password" placeholder="Пароль"/>
        {#</div>#}
        {#<input type="hidden" name="_target_path" value="{{  }}" />#}
        {#<div control smaller>#}
        <button class="circle-btn" type="submit" hover ripple-color="tealA400">Войти</button>
        {#</div>#}
        <p>или</p>
        <p><a href="{{ path('login_path') }}">Зарегистрироваться</a></p>
    </form>
</div>
{% else %}
    <div card z-1 class="auth_mini_block round">
        <a href="{{ path('_sequrity_logout') }}"><button class="circle-btn" hover ripple-color="tealA400">Выход</button></a>
    </div>
{% endif %}
