{% extends '/Emails/feedback.html.twig' %}
            {% block content %}
                <div class="answer">
                    <h2>Вас приветствует магазин сухих строительных смесей SMESIPROFFI.RU!</h2>
                    <p>Уважаемый(ая) {{ customer.fullName }}, Вы изменили свой пароль.</p>
                    <p>Его новое значение</p>
                    <p><strong>{{ customer.planePassword }}</strong></p>

                    Благодарим за выбор нашего магазина, надеемся на сотрудничество!
                    С уважением, команда "smesiproffi.ru".
                </div>

            {% endblock %}