{% extends '/Emails/feedback.html.twig' %}
            {% block content %}
                <div class="answer">
                    <h2>Вас приветствует магазин сухих строительных смесей SMESIPROFFI.RU!</h2>
                    <p>Уважаемый(ая) {{ deal.customer.fullName }}, Вы оформили покупку в нашем магазине:</p>
                    <table>
                    {% for product in deal.products %}
                        <tr>
                            <td style="width: 120px"><img src="{{ absolute_url(asset('images/Store/Product/'))
                            }}{{ product
                                .product
                                    .introImg }}" alt="" style="width: 100px"></td>
                            <td style="width: 250px"> {{ product.product.name }} </td>
                            <td style="width: 120px"> {{ product.quantity }} шт. </td>
                            <td style="width: 120px"> Сумма: <strong>{{ product.costs }} р.</strong> </td>

                        </tr>
                    {% endfor %}
                    </table>
                    <p>
                    В кратчайшие сроки с Вами свяжется наш менеджер и уточнит все детали. Спасибо, что выбрали нас!
                    </p>
                </div>

            {% endblock %}
