<!DOCTYPE html>

<html>

<head>
    <title>smesiproffi.ru</title>
    {% block styles %}
        <link href="{{ absolute_url(asset('css/system.css')) }}" rel="stylesheet">
        <link href="{{ absolute_url(asset('css/styles.css')) }}" rel="stylesheet">
        <link href="{{ absolute_url(asset('css/bootstrap.min.css')) }}" rel="stylesheet">
        <link href="{{ absolute_url(asset('css/feedback.css')) }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <header class="container-fluid header">
        <div class="row-fluid">
            <div class="col-xs-4 col-xs-offset-1">
                <p>+7 (920)-731-3-555 | prodazhi@smesiproffi.ru</p>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </header>
    <div class="container-fluid content">
        <div class="container-fluid" id="component">
            {% block content %}
                <div class="answer">
                    <h2>Вас приветствует магазин сухих строительных смесей SMESIPROFFI.RU!</h2>
                    <p>Уважаемый(ая) {{ username }}, Вы обращались в нашу службу поддержки со следующим вопросом:</p>
                    <blockquote>{{ content }}</blockquote>
                    <p>Спешим ответить на Ваш запрос:</p>
                    <div class="answer">
                        {{ answer | raw }}
                    </div>
                    Благодарим за ожидание, надеемся на сотрудничество!
                    С уважением, команда "smesiproffi.ru".
                </div>

            {% endblock %}
        </div>
        <div class="clr"></div>
    </div>
    {% block footer %}
        <footer class="proffi-footer">
            <div class="row-fluid">
                <h1 class="module-name">КОНТАКТЫ</h1>
            </div>
            <table class="proffi-contacts">
                <tr>
                    <td><a href="mailto:prodazhi@smesiproffi.ru"><img src="{{ absolute_url(asset('images/'))}}mail.png"
                                                                      alt=""></a></td>
                    <td style="margin-right: 100px"><a href="mailto:prodazhi@smesiproffi.ru">prodazhi@smesiproffi
                            .ru</a></td>
                    <td><img src="{{ absolute_url(asset('images/'))}}phone.png"
                             alt=""></td>
                    <td style="margin-right: 100px">+7 (920)-731-3-555</td>
                    <td><img src="{{ absolute_url(asset('images/'))}}gps.png"
                             alt=""></td>
                    <td style="width: 300px; text-align: center">307170, Курская область, г.Железногорск ул.Промплощадка-2</td>
                </tr>
            </table>
            <div class="proffi-copyright">
                <p class="copyright">Copyright 2015 | SMESIPROFFI</p>
            </div>
        </footer>
    {% endblock %}
</div>
</body>
</html>