{% extends 'ZeroBundle:Admin:index.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div control>
        {{ form_widget(form.name) }}
    </div>
    <div control>
        {{ form_widget(form.alias) }}
    </div>
    <div control>
        {{ form_widget(form.description) }}
    </div>
    <div control>
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
{% endblock %}