{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block title %}Просмотр обращения №{{ feedback.id }}.{% endblock %}

{% block rightside %}
    <h1 class="module-name">Просмотр обращения №{{ feedback.id }}.</h1>
            <div class="item">
                <div class="id"><p>№</p><p>{{ feedback.id }}</p></div>
                <div class="name"><p>Ф.И.О.</p><p>{{ feedback.name }}</p></div>
                <div class="email"><p>Email</p>
                    <a href="mailto:{{ feedback.email }}">{{ feedback.email }}</a>
                </div>
                <div class="phone"><p>Телефон</p>{{ feedback.phone }}</div>
                <div class="content">
                    <p>Сообщение</p>
                    <p>{{ feedback.content }}</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="answer">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <div class="clear"></div>
{% endblock %}
