{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block title %}Новый способ доставки{% endblock %}

{% block content %}
    <h1>Новый способ достваки</h1>
    {{ form_start(form) }}
    <div control>
        {{ form_widget(form.name) }}
    </div>
    <div control>{{ form_row(form.price) }}</div>
    <div control>{{ form_row(form.save) }}</div>
    {{ form_end(form) }}
{% endblock %}