{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block title %}Просмотр заказа №{{ deal.id }}.{% endblock %}

{% block content %}
    <h1 class="module-name">Просмотр покупки №{{ deal.id }}.</h1>
    <div class="deal">
        <div card bg-amber>
            {{ form_start(form, {'attr': {'horizontal': ''}}) }}
            <div control>{{ form_widget(form.make,
                {'attr': {'raised': '', 'bg-deep-purple500': '', 'ripple': ''}}) }}
            </div>
            <div control>{{ form_widget(form.reject, {'attr': {'raised': '', 'bg-deep-purple500': '', 'ripple': ''}})
                }}</div>
            {{ form_end(form) }}
        </div>
        <div class="block">
            {{ deal.customer.userName }}
            <p><strong>Ф. И. О.:</strong></p>
            <p>{{ deal.customer.fullName }}</p>
            <p><strong>email:</strong></p>
            <p>{{ deal.customer.email }}</p>
            <p><strong>Телефон:</strong></p>
            <p>{{ deal.customer.phone }}</p>
            <p><strong>Адрес доставки:</strong></p>
            <p>{{ deal.deliveryAddress }}</p>
        </div>
        <div class="products">
            <h2>Список товаров:</h2>
            <table>
                <thead>
                    <tr>
                        <th>
                            Наименование
                        </th>
                        <th>
                            Количество
                        </th>
                        <th>
                            Цена за ед.
                        </th>
                        <th>
                            Стоимость
                        </th>
                    </tr>
                </thead>
                {% for product in deal.products %}
                <tr>
                    <td>
                        {{ product.product.name }}
                    </td>
                    <td>
                        {{ product.quantity }}
                    </td>
                    <td>
                        {{ product.product.calculatedPrice }}
                    </td>
                    <td>
                        {{ product.costs }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
