{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block title %}Редактирование пользователя {{ customer.username }}.{% endblock %}

{% block rightside %}
    <h1 class="module-name">Редактирование пользователя {{ customer.username }}.</h1>
    <div class="search">
        <form action="{{ path('search_customer') }}" method="post">
            <label for="username">Имя пользователя</label>
            <input type="text" name="username" value="">
            <input type="submit" name="user_search" value="Поиск">
        </form>
    </div>

{% endblock %}
