{% extends 'ZeroBundle:Default:index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/admin.css') }}"/>
{% endblock %}
{% block leftpanel %}
    <div list>
        <a item hover href="{{ path('list_categories') }}">Работа с категориями</a>
        <a item hover href="{{ path('list_products') }}">Просмотр товаров</a>

        <a item hover href="{{ path('list_deals') }}">Просмотр заказов</a>
        <a item hover href="{{ path('list_feedbacks') }}">Просмотр обращений</a>
        <a item hover href="{{ path('list_deliveries') }}">Доставка товара</a>
    </div>
{% endblock %}
{% block content %}
    <div class="search">
        <form action="{{ path('search_customer') }}" method="post" name="search">
            <label for="username">Имя пользователя</label>
            <input type="text" name="username" value="">
            <input type="submit" name="user_search" value="Поиск">
        </form>
    </div>

    <div card z-1 fluid>
        <h2>Товары. QuickMenu.</h2>
        <div id="products_list_container">
            <div id="product_list_controls">
                <div icon="add-circle" class="controls" id="add_product"></div>
                <div icon="remove-circle" class="controls" id="remove_product"></div>
                <div icon="content-copy" class="controls" id="copy_product"></div>
                <div icon="swap-vert" class="controls" id="swap_product_list"></div>
            </div>
            <div id="product_list_form">

                <div id="new_product_form_prototype" class="hidden">
                        <div icon="clear" class="controls close_form" align-right></div>
                        <form action="{{ path('admin_ajax') }}" name="new_product" horizontal id="new_product_form">
                            <div control>
                                <label for="s_category">Категория</label>
                                <select name="s_category" id="s_category">
                                    <option value="null">Выберите категорию</option>
                                    {% for s in globals_helper.getSuperCategories %}
                                    <option id="scat_{{ s.id }}" value="{{ s.id }}">{{ s.name }}</option>
                                    {% endfor %}
                                </select>
                                <div icon="create" class="controls" id="edit_s_cat"></div>
                                <div icon="add-circle" class="controls" id="add_s_category"></div>
                                <div icon="remove-circle" class="controls" id="remove_s_category"></div>
                                <div id="categories_list" class="hidden">
                                    <select name="p_category" id="p_category" class="hidden">
                                    </select>
                                    <div icon="create" class="controls" id="edit_category"></div>
                                    <div icon="add-circle" class="controls" id="add_category"></div>
                                    <div icon="remove-circle" class="controls" id="remove_category"></div>
                                </div>
                                <label for="m_id">Производитель</label>
                                <select name="p_manufacturer" id="m_id">
                                    {% for m in globals_helper.getManufacturers() %}
                                        <option id="m_{{ m.id }}" value="{{ m.id }}">{{ m.name }}</option>
                                    {% endfor %}
                                </select>
                                <div icon="create" class="controls" id="edit_manuf"></div>
                                <div icon="add-circle" class="controls" id="add_manuf"></div>
                                <div icon="remove-circle" class="controls" id="remove_manuf"></div>
                            </div>
                            <div control>
                                <label for="p_introImage">Изображение</label>
                                <input type="file" name="p_introImage" id="p_introImage"/>
                            </div>

                            <div control>
                                <input type="text" name="p_name" placeholder="Наименование">
                            </div>

                            <div control>
                                <input type="text" name="p_alias" placeholder="Алиас">
                            </div>

                            <div control>
                                <textarea name="p_introText" placeholder="Краткое описание"></textarea>
                            </div>

                            <div control>
                                <textarea name="p_allText" placeholder="Полное описание"></textarea>
                            </div>

                            <div control>
                                <textarea name="p_description" placeholder="Meta-tag Description"></textarea>
                            </div>

                            <div control>
                                <textarea name="p_keywords" placeholder="Ключевые слова"></textarea>
                            </div>

                            <div control>
                                <input type="text" name="p_unit" placeholder="Единица измерения">
                            </div>

                            <div control>
                                <input type="text" name="p_price" placeholder="Цена в р.">
                            </div>

                            <div control>
                                <input type="text" name="p_discount" placeholder="Скидка в %">
                            </div>

                            <div control>
                                <input type="checkbox" name="p_promoted" id="p_promotedLike">
                                <label for="p_promotedLike">На главную</label>

                                <input type="checkbox" name="p_buddyLike" id="p_buddyLike">
                                <label for="p_buddyLike">Для "приятеля"</label>
                            </div>
                            <div control>
                                <button z-1 type="submit" id="save_product">
                                    <span icon="check"></span> Сохранить товар.
                                </button>
                            </div>
                        </form>
                        <div class="clr"></div>
                </div>

                <div id="edit_product_form" class="hidden">
                    <div icon="clear" class="controls close_form" align-right></div>
                    <form action="{{ path('admin_ajax') }}" name="new_product" horizontal id="new_product_form">
                        <div control>
                            <label for="s_category">Категория</label>
                            <select name="s_category" id="s_category">
                                <option value="null">Выберите категорию</option>
                                {% for s in globals_helper.getSuperCategories %}
                                    <option id="scat_{{ s.id }}" value="{{ s.id }}">{{ s.name }}</option>
                                {% endfor %}
                            </select>
                            <div icon="create" class="controls" id="edit_s_cat"></div>
                            <div icon="add-circle" class="controls" id="add_s_category"></div>
                            <div icon="remove-circle" class="controls" id="remove_s_category"></div>
                            <div id="categories_list" class="hidden">
                                <select name="p_category" id="p_category" class="hidden">
                                </select>
                                <div icon="create" class="controls" id="edit_category"></div>
                                <div icon="add-circle" class="controls" id="add_category"></div>
                                <div icon="remove-circle" class="controls" id="remove_category"></div>
                            </div>
                            <label for="m_id">Производитель</label>
                            <select name="p_manufacturer" id="m_id">
                                {% for m in globals_helper.getManufacturers() %}
                                    <option id="m_{{ m.id }}" value="{{ m.id }}">{{ m.name }}</option>
                                {% endfor %}
                            </select>
                            <div icon="create" class="controls" id="edit_manuf"></div>
                            <div icon="add-circle" class="controls" id="add_manuf"></div>
                            <div icon="remove-circle" class="controls" id="remove_manuf"></div>
                        </div>
                        <div control>
                            <label for="p_introImage">Изображение</label>
                            <input type="file" name="p_introImage" id="p_introImage"/>
                        </div>

                        <div control>
                            <input type="text" name="p_name" placeholder="Наименование">
                        </div>

                        <div control>
                            <input type="text" name="p_alias" placeholder="Алиас">
                        </div>

                        <div control>
                            <textarea name="p_introText" placeholder="Краткое описание"></textarea>
                        </div>

                        <div control>
                            <textarea name="p_allText" placeholder="Полное описание"></textarea>
                        </div>

                        <div control>
                            <textarea name="p_description" placeholder="Meta-tag Description"></textarea>
                        </div>

                        <div control>
                            <textarea name="p_keywords" placeholder="Ключевые слова"></textarea>
                        </div>

                        <div control>
                            <input type="text" name="p_unit" placeholder="Единица измерения">
                        </div>

                        <div control>
                            <input type="text" name="p_price" placeholder="Цена в р.">
                        </div>

                        <div control>
                            <input type="text" name="p_discount" placeholder="Скидка в %">
                        </div>

                        <div control>
                            <input type="checkbox" name="p_promoted" id="p_promotedLike">
                            <label for="p_promotedLike">На главную</label>

                            <input type="checkbox" name="p_buddyLike" id="p_buddyLike">
                            <label for="p_buddyLike">Для "приятеля"</label>
                        </div>
                        <div control>
                            <button z-1 type="submit" id="save_product">
                                <span icon="check"></span> Сохранить товар.
                            </button>
                        </div>
                    </form>
                    <div class="clr"></div>
                </div>

                <div id="edit_s_cat_form" class="hidden">
                        <div icon="clear" class="controls close_form" align-right></div>

                        <form action="{{ path('admin_ajax') }}" name="edit_s_cat">
                        <div control>
                            <input type="text" name="s_cat_name" id="s_name" placeholder="Наименование суперкатегории"/>
                        </div>
                    <div control>
                            <input type="text" name="s_cat_alias" id="s_alias" placeholder="Алиас"/>
                    </div>

                    <div control>
                            <input type="text" name="s_cat_desc" id="s_desc" placeholder="metatag Description"/>
                            <input type="hidden" name="trigger" value="super_cat"/>
                            <input type="hidden" name="action" value="edit"/>
                    </div>
                        <div control>
                            <button z-1 type="submit" class="save_s_cat">
                                    <span icon="check"></span> Сохранить.
                            </button>
                        </div>
                    </form>
                </div>

                <div id="new_s_cat_form" class="hidden">
                    <div icon="clear" class="controls close_form" align-right></div>

                    <form action="{{ path('admin_ajax') }}" name="new_s_cat">
                        <div control>
                            <input type="text" name="s_cat_name" placeholder="Наименование суперкатегории"/>
                        </div>
                        <div control>
                            <input type="text" name="s_cat_alias" placeholder="Алиас"/>
                        </div>
                        <div control>
                            <input type="text" name="s_cat_desc" placeholder="metatag Description"/>
                        </div>
                        <div control>
                            <button z-1 type="submit" id="save_s_cat">
                                <span icon="check"></span> Сохранить.
                            </button>
                        </div>
                    </form>
                </div>

                <div id="new_cat_form" class="hidden">
                    <div icon="clear" class="controls close_form" align-right></div>

                    <form name="new_cat_form" action="{{ path('admin_ajax') }}" enctype="multipart/form-data">

                        <div control>
                            <input type="text" data-selector="cat_name" name="cat_name" placeholder="Наименование
                            категории"/>
                        </div>

                        <div control>
                            <input type="text" data-selector="cat_alias" name="cat_alias" placeholder="Алиас"/>
                        </div>

                        <div control>
                            <input type="text" data-selector="cat_description" name="cat_description"
                                   placeholder="metatag
                            Description"/>
                        </div>

                        <div control>
                            <input type="text" data-selector="cat_keywords" name="cat_keywords" placeholder="Ключевые
                            слова"/>
                        </div>

                        <div control>
                            <textarea name="cat_introText" data-selector="cat_introText" id="cat_introText"
                                      placeholder="Вводный текст"></textarea>
                        </div>

                        <div control>
                            <textarea data-selector="cat_allText" name="cat_allText" id="cat_allText" placeholder="Текст
                             описания"></textarea>
                        </div>

                        <div control>
                            <label for="cat_introImg">Изображение:</label>
                            <input type="file" data-selector="cat_introImg" id="cat_introImg" name="cat_introImg"/>
                        </div>

                        <div control>
                            <select name="cat_s_cat" data-selector="cat_s_cat">
                                {% for s in globals_helper.superCategories() %}
                                    <option data_id="{{ s.id }}" value="{{ s.id }}">{{ s.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div control>
                            <button z-1 type="submit" id="save_cat">
                                <span icon="check"></span> Сохранить.
                            </button>
                        </div>
                    </form>
                </div>

                <div id="edit_cat_form" class="hidden">
                    <div icon="clear" class="controls close_form" align-right></div>

                    <form name="edit_cat_form" action="{{ path('admin_ajax') }}" enctype="multipart/form-data">

                        <div control>
                            <input type="text" name="cat_name" id="cat_name" placeholder="Наименование категории"/>
                        </div>

                        <div control>
                            <input type="text" name="cat_alias" id="cat_alias" placeholder="Алиас"/>
                        </div>

                        <div control>
                            <input type="text" name="cat_description" id="cat_description" placeholder="metatag
                            Description"/>
                        </div>

                        <div control>
                            <input type="text" name="cat_keywords" id="cat_keywords" placeholder="Ключевые слова"/>
                        </div>

                        <div control>
                            <textarea name="cat_introText" id="cat_introText" placeholder="Вводный текст"></textarea>
                        </div>

                        <div control>
                            <textarea name="cat_allText" id="cat_allText" placeholder="Текст описания"></textarea>
                        </div>

                        <div control>
                            <label for="cat_introImg">Изображение:</label>
                            <input type="file" id="cat_introImg" name="cat_introImg"/>
                        </div>

                        <div control>
                            <select name="cat_s_cat" id="cat_s_cat">
                                {% for s in globals_helper.superCategories() %}
                                    <option data-id="{{ s.id }}" value="{{ s.id }}">{{ s.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div control>
                            <button z-1 type="submit" id="save_cat">
                                <span icon="check"></span> Сохранить.
                            </button>
                        </div>
                    </form>
                </div>

                <div id="new_man_form" class="hidden">
                    <div icon="clear" class="controls close_form" align-right></div>

                    <form action="{{ path('admin_ajax') }}" name="new_manufacturer">

                        <div control>
                            <input type="text" name="m_name" id="m_name" placeholder="Наименование производителя"/>
                        </div>

                        <div control>
                            <textarea name="m_description" id="m_description" placeholder="Описание"></textarea>
                        </div>

                        <div control>
                            <input type="text" name="m_legal_entity" id="m_legal_entity" placeholder="Наименование юр
                            . лица"/>
                        </div>

                        <div control>
                            <input type="text" name="m_link" id="m_link" placeholder="Ссылка"/>
                        </div>

                        <div control>
                            <label for="m_logo">Изображение:</label>
                            <input type="file" id="m_logo" name="m_logo"/>
                        </div>


                        <div control>
                            <button z-1 type="submit" id="save_manuf">
                                <span icon="check"></span> Сохранить.
                            </button>
                        </div>
                    </form>
                </div>

                <div id="edit_man_form" class="hidden">
                    <div icon="clear" class="controls close_form" align-right></div>

                    <form action="{{ path('admin_ajax') }}" name="edit_manufacturer">

                        <div control>
                            <input type="text" name="m_name" id="m_name" placeholder="Наименование производителя"/>
                        </div>

                        <div control>
                            <textarea name="m_description" id="m_description" placeholder="Описание"></textarea>
                        </div>

                        <div control>
                            <input type="text" name="m_legal_entity" id="m_legal_entity" placeholder="Наименование юр
                            . лица"/>
                        </div>

                        <div control>
                            <input type="text" name="m_link" id="m_link" placeholder="Ссылка"/>
                        </div>

                        <div control>
                            <label for="m_logo">Изображение:</label>
                            <input type="file" id="m_logo" name="m_logo"/>
                        </div>


                        <div control>
                            <button z-1 type="submit" id="save_manuf">
                                <span icon="check"></span> Сохранить.
                            </button>
                        </div>
                    </form>
                </div>



            </div>
            <table id="product_list_table">
                <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'p.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Наименование', 'p.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Категория', 'p.category_id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Цена', 'p.calculatedPrice') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Просмотры', 'p.clickCounter') }}</th>
                <th></th>
                </tr>
                {% for p in pagination %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.category.name }}</td>
                    <td>{{ p.calculatedPrice }}</td>
                    <td>{{ p.clickCounter }}</td>
                    <td><div class="edit_product" icon="create" data-id="{{ p.id }}"></div></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="6">
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
{% block foot_scripts %}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}