{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block title %}Список пользователей.{% endblock %}

{% block rightside %}
    <h1 class="module-name">Список пользователей.</h1>
    <div class="search">
        <form action="{{ path('search_customer') }}" method="post">
            <label for="username">Имя пользователя</label>
            <input type="text" name="username" value="">
            <input type="submit" name="user_search" value="Поиск">
        </form>
    </div>
    <table class="list">
        <th>Username</th>
        <th>Email</th>
        <th>Ф.И.О.</th>
        <th>Телефон</th>
        <th>Последнее посещение</th>
        <th>Сохранить</th>
        {% for form in forms %}
            <tr class="element {{ cycle(['odd', 'even'], loop.index0) }}">
                {{ form_start(form, {'action': path('save_customer')}) }}
                <td>
                    {{ form_widget(form.username) }}
                </td>
                <td>
                    {{ form_widget(form.email) }}
                </td>
                <td class="">
                    {{ form_widget(form.fullname) }}
                </td>
                <td class="">
                    {{ form_widget(form.phone) }}
                </td>
                <td class="">
                    {{ form_widget(form.lastvisit) }}
                </td>
                <td>
                    {{ form_widget(form.save) }}
                </td>
                {{ form_end(form) }}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
