{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block title %}Список товаров.{% endblock %}

{% block content %}
    {{ parent() }}
    <h1 class="module-name">Список товаров</h1>
    <a href="{{ path('new_product_in_category', {'alias': category.alias, 'id': 'null'}) }}">
        <button>Добавить товар</button>
    </a>
    <table class="list">
        <th>Наименование</th>
        <th>Категория</th>
        <th>Цена</th>
        <th>Скидка</th>
        <th>Редактировать</th>
        {% for product in products %}
            <tr class="element {{ cycle(['odd', 'even'], loop.index0) }}">
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.category.name }}
                </td>
                <td>
                    {{ product.price }} р.
                </td>
                <td>
                    {{ product.discount }}%
                </td>
                <td>
                    <a href="{{ path('edit_product', {'id': product.id}) }}">
                        <button>Редактировать</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
