{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block title %}Список новостей.{% endblock %}

{% block rightside %}
    <h1 class="module-name">Список новостей</h1>
    <a href="{{ path('new_article') }}">
        <button>Добавить новость</button>
    </a>
    <a href="{{ path('new_article_category') }}">
        <button>Добавить категорию</button>
    </a>
    <table class="list">
        <th>Наименование</th>
        <th>Категория</th>
        <th>Редактировать</th>
        {% for product in articles %}
            <tr class="element {{ cycle(['odd', 'even'], loop.index0) }}">
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.category.name }}
                </td>
                <td>
                    <a href="{{ path('edit_article', {'id': product.id}) }}">
                        <button>Редактировать</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
