{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block title %}Список товаров.{% endblock %}
{% block content %}
    {{ parent() }}
    <h1 class="module-name">Список товаров</h1>
    <a href="{{ path('new_product') }}">
        <button>Добавить товар</button>
    </a>
    <table class="list">
        <th>Наименование</th>
        <th>Категория</th>
        <th>Цена</th>
        <th>Скидка</th>
        <th>Слайдер</th>
        <th>Редактировать</th>
        {% for product in products %}
            <tr class="element {{ cycle(['odd', 'even'], loop.index0) }}">
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.category.name }}
                </td>
                <td>
                    {{ product.price }} р.
                </td>
                <td>
                    {{ product.discount }}%
                </td>
                <td>
                    {% if product.forSlider %}
                    <a href="{{ path('add_product_to_slider', { 'id': product.id }) }}" id="toSlider">Добавить</a>
                    {% else %}
                    <a href="" id="toSlider">Убрать</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('edit_product', {'id': product.id}) }}">
                        <button>Редактировать</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {{ include('ZeroBundle:Admin:XmlHttpRequest.html.twig') }}

{% endblock %}
