{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block title %}Список заказов.{% endblock %}

{% block content %}
<h1>Список заказов</h1>
    <table class="deals">
        <thead>
            <tr>
                <th width="30">
                    id
                </th>
                <th width="100" {% if pagination.isSorted('d.customer') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Пользователь', 'd.customer') }}
                </th>
                <th width="120">
                    e-mail
                </th>
                <th width="120">
                    Телефон
                </th>
                <th width="80" {% if pagination.isSorted('d.costs') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Сумма', 'd.costs') }}
                </th>
                <th width="100" {% if pagination.isSorted('d.submitDate') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Дата', 'd.submitDate') }}
                </th>
                <th width="120">
                    Подробности
                </th>
            </tr>
        </thead>
        {% for deal in pagination %}
            {% if deal.status is defined %}
                {% set class = 'new' %}
            {% else %}
                {% set class = '' %}
            {% endif %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }} {{ class }}">
                <td>
                    {{ deal.id }}
                </td>
                <td>
                    {{ deal.customer.username }}
                </td>
                <td>
                    {{ deal.customer.email }}
                </td>
                <td>
                    {{ deal.customer.phone }}
                </td>
                <td>
                    {{ deal.costs }}
                </td>
                <td>
                    {{ deal.submitDate|date('m-d-Y') }}
                </td>
                <td>
                    <a href="{{ path('edit_deal', {'id': deal.id}) }}">Просмотр</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
