{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block title %}Список обращений.{% endblock %}

{% block content %}
    <h1>Список обращений</h1>
    <table>
        <tr>
            <th>Сортировать по: </th>
            <th {% if pagination.isSorted('f.customer') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Пользователю', 'f.customer') }}
            </th>
            <th {% if pagination.isSorted('f.dateCreated') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Дате обращения', 'f.dateCreated') }}
            </th>
        </tr>
    </table>
        {% for feedback in pagination %}
            <div card class="item {{ cycle(['odd', 'even'], loop.index0) }}">
                <div class="id"><p>№ {{ feedback.id }}</p></div>
                <div class="block"><p>Ф.И.О.</p><p>{{ feedback.name }}</p></div>
                <div class="block"><p>Email</p>
                    <a href="mailto:{{ feedback.email }}">{{ feedback.email }}</a>
                </div>
                <div class="block"><p>Телефон</p>{{ feedback.phone }}</div>
                <div class="block">
                    <p>Сообщение</p>
                    <p>{{ feedback.content }}</p>
                </div>
                <div class="buttons">
                    <a href="{{ path('edit_feedback', { 'id': feedback.id }) }}"><button>Подробнее</button></a>
                </div>
                <div class="clear"></div>
            </div>
        {% endfor %}
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
