{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block title %}Списог категорий товаров.{% endblock %}

{% block content %}
    <h1>Список категорий товаров</h1>
    <a href="{{ path('new_super_category') }}"><button bg-deep-purple500 ripple bold raised>Добавить
            корневую</button></a>
    <a href="{{ path('edit_category', {'id': 'null'}) }}">
        <button bg-deep-purple500 ripple bold raised>Добавить категорию</button>
    </a>
    <table class="list">
        <th colspan="2">{{ knp_pagination_sortable(pagination, 'Наименование корневой категории', 'c.name') }}</th>
        {% for category in pagination %}
            <tr class="element {{ cycle(['odd', 'even'], loop.index0) }}">
                <td bold>
                    {{ category.name }}
                </td>
                <td>
                    <a href="{{ path('edit_category', {'id': category.id}) }}">Редактировать</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tr bg-blueA700>
                            <th colspan="3" align-center>Подкатегории</th>
                        </tr>
                        <tr>
                            <th>Наименование</th>
                            <th>Редактирование</th>
                            <th>Добавить товар</th>
                        </tr>
                        {% for sub in category.categories %}
                        <tr>
                            <td align-center>{{ sub.name }}</td>
                            <td align-left><a href="{{ path('edit_category', {'id': sub.id }) }}">Edit</a></td>
                            <td align-left><a href="{{ path('edit_product', { 'id': 'null', 'alias': sub.alias })
                                }}">Добавить товар</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
