{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block title %}Список способов доставки.{% endblock %}

{% block content %}
<h1>Список способов доставки</h1>
    <a href="{{ path('edit_delivery', {'id': 'null'}) }}"><button raised bg-deep-purple500 ripple>Новая
            доставка</button></a>
    <table>
        <thead>
            <tr>
                <th width="30">
                    id
                </th>
                <th width="100">
                    Наименование
                </th>
                <th>
                    Стоимость
                </th>
                <th width="120">
                    Подробности
                </th>
            </tr>
        </thead>
        {% for delivery in deliveries %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                <td>
                    {{ delivery.id }}
                </td>
                <td>
                    {{ delivery.name }}
                </td>
                <td>
                    {{ delivery.price }}
                </td>
                <td>
                    <a href="{{ path('edit_delivery', {'id': delivery.id}) }}">Просмотр</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
