{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block content %}
{{ form_start(form) }}
    {{ form_label(form.name) }}

{{ form_widget(form.name) }}
    {{ form_label(form.category) }}
{{ form_widget(form.category) }}
{{ form_widget(form.content) }}
    {{ form_label(form.map) }}
    {{ form_widget(form.map) }}

    {{ form_label(form.images) }}
    {{ form_errors(form.images) }}

    <ul id="image-fields-list"
        data-prototype="{{ form_widget(form.images.vars.prototype)|e }}">
        {% for imageField in form.images %}
            <li>
                {{ form_errors(imageField) }}
                {{ form_widget(imageField) }}
            </li>
        {% endfor %}
        <a href="#" id="add-another-image">Добавить изображение</a>

    </ul>

{{ form_widget(form.save) }}

{{ form_end(form) }}

    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var imageCount = '{{ form.images|length }}';

        $(document).ready(function() {
            $('#add-another-image').click(function(e) {
                e.preventDefault();

                var imageList = $('#image-fields-list');

                // grab the prototype template
                var newWidget = imageList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, imageCount);
                imageCount++;

                // create a new list element and add it to the list
                var newLi = $('<li></li>').html(newWidget);
                newLi.appendTo(imageList);
            });
        })
    </script>

{% endblock %}