{% extends 'ZeroBundle:Admin:index.html.twig' %}

{% block content %}
{{ form_start(form) }}
    <div fluid card z-1>
        <div control>
            {{ form_widget(form.supercategory) }}
        </div>
        <div control>
            {{ form_widget(form.name) }}
        </div>
        <div control>
            {{ form_widget(form.alias) }}
        </div>
        <div control>
            {{ form_widget(form.introText) }}
        </div>
        <div control>
            {{ form_widget(form.allText) }}
        </div>
        <div control>
            {{ form_widget(form.description) }}
        </div>
        {#<div control>#}
            {#{{ form_widget(form.image) }}#}
        {#</div>#}
        <div control>
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}