{% extends "ZeroBundle:Admin:index.html.twig" %}

{% block content %}
    {{ form_start(form) }}
    <div control>
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    </div>
    <div control>
    {{ form_label(form.category) }}
    {{ form_widget(form.category) }}
    </div>
    <div control>
        {{ form_label(form.introImg) }}
        {{ form_widget(form.introImg) }}
    </div>
    <div control>
        {{ form_label(form.manufacturer) }}
        {{ form_widget(form.manufacturer) }}
    </div>
    <div control>
        {{ form_label(form.introText) }}
        {{ form_widget(form.introText) }}
    </div>
    <div control>
        {{ form_label(form.allText) }}
        {{ form_widget(form.allText) }}
    </div>
    <div control>
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div control>
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
        {{ form_label(form.discount) }}
        {{ form_widget(form.discount) }}
    </div>
    <div control>
    {{ form_label(form.additionalFields) }}
    {{ form_errors(form.additionalFields) }}
    <ul id="adds-fields-list"
        data-prototype="{{ form_widget(form.additionalFields.vars.prototype)|e }}">
        {% for adds in form.additionalFields %}
            <li>
                {{ form_errors(adds) }}
                {{ form_widget(adds) }}
            </li>
        {% endfor %}
        <a href="#" id="add-another-adds">Добавить свойство</a>

    </ul>
    </div>
    <div control>
        {{ form_widget(form.save, {'attr': {'ripple-color': '#9C27B0', 'bg-indigo900': '', 'raised': ''}}) }}
    </div>
{{ form_end(form) }}

    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var addsCount = '{{ form.additionalFields|length }}';

        $(document).ready(function() {
            $('#add-another-adds').click(function(e) {
                e.preventDefault();

                var addsList = $('#adds-fields-list');

                // grab the prototype template
                var newWidget = addsList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, addsCount);
                addsCount++;

                // create a new list element and add it to the list
                var newLi = $('<li></li>').html(newWidget);
                newLi.appendTo(addsList);
            });
        })
    </script>

{% endblock %}