{% extends 'ZeroBundle:Customer:cabinet.html.twig' %}
{% block title %}Личный кабинет. Изменение профиля.{% endblock %}
{% block actions %}
    <div class="messages">
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert-success">
                {{ flash_message | raw }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="alert-danger">
                {{ flash_message | raw }}
            </div>
        {% endfor %}
    </div>
{% endblock %}