{% extends 'ZeroBundle:Default:index.html.twig' %}
{% block title %}Личный кабинет{% endblock %}
{% block styles %}
    {{ parent() }}
    <link href="{{ asset('css/cabinet.css') }}" rel="stylesheet">
{% endblock %}
    {% block categories %}
    {% endblock %}
{% block content %}
    <h1>Вы находитесь в личном кабинете</h1>
    <div class="proffi-cabinet">
        <p>{{ customer.fullname }}</p>
        <div class="proffi-customer-actions">
                <a href="{{ path('_customer_edit') }}"><button>Редактировать профиль</button></a>
                <a href="{{ path('_new_address') }}"><button>Добавить адрес доставки</button></a>
                <a href="{{ path('_customer_deals') }}"><button>Мои покупки</button></a>
                <a href=""></a>
        </div>
        </div>
        <div class="actions-block">
            {% block actions %}
            {% endblock %}
        </div>
    </div>
{% endblock %}