{% extends "ZeroBundle:Customer:cabinet.html.twig" %}
{% block title %}
    Личный кабинет. Заказ от {{ deal.submitDate|date('d-m-Y:H-m') }} № {{ deal.id }}
{% endblock %}
{% block actions %}
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert-success">
                {{ flash_message | raw }}
            </div>
        {% endfor %}
    <h2>Ваш заказ от {{ deal.submitDate|date('d-m-Y:H-m') }} № {{ deal.id }}</h2>
    {% for product in products %}
        <div class="deal-details">
            <div class="product-image">
            <img src="{{ asset('images/Store/Product/') }}{{ product.product.introImg }}" alt="{{ product
            .product.description
            }}">
            </div>
            <div class="product-details">
                <div class="text">
                    <a href="{{ path('_product_page',{ 'category': product.product.category.supercategory.alias,
                        'alias': product.product.category.alias,
                        'id': product.product.id })}}"><h2>{{ product
                            .product.name }}</h2></a>
                    <p>Вы купили {{ product.quantity }} единиц {{ product.product.name }} по цене <strong>{{ product
                            .costs/product.quantity
                            }} р.</strong></p>
                    <p>Сейчас стоимость продукта составляет - <strong>{{ product.product.calculatedPrice }} р.
                        </strong></p>
                </div>
            </div>
        </div>
    {% endfor %}
<div class="deal-footer">
    <p>Адрес доставки заказа: {{ deal.deliveryAddress }}</p>
    <p>Общая стоимость покупки: <strong>{{ deal.costs }} р.</strong></p>
</div>

{% endblock %}
