{% extends "ZeroBundle:Customer:cabinet.html.twig" %}
{% block title %}Личный кабинет. Список ваших заказов.{% endblock %}
{% block actions %}
    <h2>Ваши покупки:</h2>
    <div class="proffi-deals">
        <table>
            <thead>
                <tr>
                    <th width="150px">Дата и время совершения покупки</th>
                    <th>Стоимость покупки</th>
                    <th>Адресс доставки</th>
                    <th></th>
                </tr>
            </thead>
        {% for deal in deals %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
            <td>{{ deal.submitDate|date('d-m-Y:H-m') }}</td>
            <td>{{ deal.costs }} р.</td>
            <td>{{ deal.deliveryAddress }}</td>
            <td><a href="{{ path('_show_deal', {'id': deal.id} ) }}">Подробнее</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
