{% extends 'ZeroBundle:Customer:cabinet.html.twig' %}
{% block title %}Личный кабинет. Изменение профиля.{% endblock %}
{% block actions %}
    {{ form_start(form) }}
    <div class="messages">
        {{ form_errors(form) }}
    </div>

    <div class="password-change">
        <div class="form-row">
            {{ form_label(form.oldPassword) }}
            {{ form_widget(form.oldPassword, {'attr': {'required': ''}}) }}
        </div>
        <div class="form-row">
            {{ form_label(form.newPassword.first) }}
            {{ form_widget(form.newPassword.first, {'attr': {'required': ''}}) }}
        </div>
        <div class="form-row">
            {{ form_label(form.newPassword.second) }}
            {{ form_widget(form.newPassword.second, {'attr': {'required': ''}}) }}
        </div>
    </div>
    <div class="form-row">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="form-row">
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone) }}
    </div>
    <div class="form-row">
        {{ form_label(form.fullname) }}
        {{ form_widget(form.fullname) }}
    </div>
    <div class="form-row">
        {{ form_widget(form.submit) }}
    </div>

    {{ form_end(form) }}
{% endblock %}