{% extends "ZeroBundle:Customer:cabinet.html.twig" %}
{% block title %}Личный кабинет. Добавление адреса доставки.{% endblock %}
{% block actions %}
    <h2>Добавление нового адреса доставки ваших покупок.</h2>
    {{ form_start(form) }}
    <div class="form-row">
        {{ form_label(form.country) }}
        {{ form_widget(form.country) }}
    </div>
    <div class="form-row">
        {{ form_label(form.city) }}
        {{ form_widget(form.city) }}
    </div>
    <div class="form-row">
        {{ form_label(form.address) }}
        {{ form_widget(form.address) }}
    </div>
    <div class="form-row">
        {{ form_label(form.post_index) }}
        {{ form_widget(form.post_index) }}
    </div>
    <div class="form-row">
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
