
<h1>Прежде чем совершать покупки, Вам необходимо зарегистрироваться.</h1>

    {{ form_start(form) }}
    <table>
        <tr>
            <td>{{ form_label(form.username) }}</td>
            <td>{{ form_widget(form.username) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form_errors(form.username) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.password.first) }}</td>
            <td>{{ form_widget(form.password.first) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form_errors(form.password.first) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.password.second) }}</td>
            <td>{{ form_widget(form.password.second) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form_errors(form.password.second) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.email) }}</td>
            <td>{{ form_widget(form.email) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form_errors(form.email) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.phone) }}</td>
            <td>{{ form_widget(form.phone) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form_errors(form.phone) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.fullname) }}</td>
            <td>{{ form_widget(form.fullname) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form_errors(form.fullname) }}</td>
        </tr>
        <tr>
            {#<td>{{ form_label(form.submit) }}</td>#}
            <td colspan="2" class="button">{{ form_row(form.submit) }}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
    </table>

    {{ form_end(form) }}

