{% extends 'ZeroBundle:Default:product.html.twig' %}
{% block title %}{{ article.name }}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}

<div class="proffi-itemView-body">
    {% if article.images is not empty %}
    <div class="proffi-itemImageBlock">
		{% for image in article.images %}
        <div class="itemImage">
		  	<img src="{{ asset('images/Store/Article/') }}{{ image.name }}" alt=""  />
        </div>
        {% endfor %}
        <div class="clear"></div>
    {% endif %}


    </div>
    <div class="proffi-article-info">
        <div class="proffi-itemView-header">

            <h1 class="module-name">
                {{ article.name }}
            </h1>
        </div>
        <div class="proffi-itemView-IntroText">
            {{ article.content | raw }}
        </div>
        <div class="map">{{ article.map | raw }}</div>
    </div>

</div>

<div class="clear"></div>


{% endblock %}