.controls{
    font-size: 10px;
    cursor: pointer;
}

.clr{
    clear: both;
}

.appended_form{
    position: fixed;
    z-index: 9999;
    top:10%;
    /*left: 20%;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#close_form{
    position: relative;
    right: 5px;
}
#new_product_form_prototype{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#new_product_form_prototype div[control]{
    float: left;
    margin: 5px;
}

#new_product_form_prototype :last-child:after{
    clear: both;
}

#new_product_form_prototype:after{
    clear: both;
}
