/*!
 * -- Project Name: Material CSS
 * -- Version: 1.0
 * -- Goal: To have a lightweight JS+CSS framework following Google's Material Design.
 * -- Notes:
 *      This is not compliant with the W3 specs; attributes are used for simplicity.
 *      This is intended to be used for my own personal use. Any requests for change or improvement will unlikely be entertained.
 * -- Components: toolbar, drawer, fab, cards, fg-bg-colors, icons, z-indices, inputs, buttons
 * -- Author: kearlsaint@gmail.com
 * -- Info: kearlsaint.github.io/material-css
 * -- License: MIT License
 * -- Inspired by Google's Polymer Project
**/

@import url(roboto.css);


/* apply resets only to items inside material element */
html, body[material], [material] {
	margin: 0;
	padding: 0;
}
[material] h1, [material] h2, [material] h3, [material] h4, [material] h5, [material] h6, [material] p { font-weight: 300; margin: 8px 0 }
[material] h1, [material] h2 { line-height: 1.5em }
[material] h3, [material] h4, [lead] { line-height: 1.25em }
[material] h5, [material] h6, [material] p, [lead] { line-height: 1.5em }
[material] p { font-size: 14px }
[material] h1 { font-size: 32px }
[material] h2 { font-size: 28px }
[material] h3 { font-size: 24px }
[material] h4 { font-size: 20px }
[material] h5 { font-size: 18px }
[material] h6 { font-size: 16px }
[lead] { font-size: 20px!important }
[material] button, [button], [material] input {
	background: transparent;
	border: none;
	outline: none;
	border-radius: 0;
	-webkit-user-select: none;
}
[material] button:active, [button]:active {
	/*opacity: 0.5;*/
}
[material] a:hover, [material] a:active {
	text-decoration: underline;
	color: #80CBC4;
}
[material] a,
[material] a[button]:hover, [material] a[button]:active {
	text-decoration: none;
	color: #009688;
}
[material] code, [code], [monospace] {
	font-family: "Courier New", monospace !important;
}
[material] code, [code] {
	background: #004D40;
	color: #fff;
	border-radius: 2px;
	padding: 2px 4px;
}
[material] table {
	border: none;
	border-collapse: collapse;
}
[material] table td {
	vertical-align: middle;
	padding: 8px;
	width: 600px;
	border-top: thin solid #eee;
	border-left: thin solid #eee;
}
[material] table tr:first-child td {
	border-top: thin solid transparent;
}
[material] table td:first-child {
	border-left: thin solid transparent;
}
[material] hr {
	border: none;
	height: 1px;
	color: #eee;
	background: #eee;
	margin: 16px auto;
	width: 100%;
}
/* thin out the scrollbars */
[material]::-webkit-scrollbar, [material] ::-webkit-scrollbar {
	width: 8px;
}
[material]::-webkit-scrollbar-track, [material] ::-webkit-scrollbar-track {
	background: transparent;
	border: 0 solid thin;
}
[material]::-webkit-scrollbar-thumb, [material] ::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: rgba(180, 180, 180, .8);
}
[material]::-webkit-scrollbar-corner, [material] ::-webkit-scrollbar-corner {
	background:#eee;
}

[material], [material] * {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent tap highlight color / shadow */
	-webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

[material] ::selection {
	color: white;
	background: #1DE9B6;
}

[material] ::-moz-selection {
	color: white;
	background: #1DE9B6;
}

[material] {
	position: relative;
	background: #f5f5f5;
	width: 100%;
	min-height: 100%;
	height: 100%;
	line-height: 1.5;
	font-family: "RobotoDraft", "Roboto", "Helvetica Neue", "Open Sans", "Segoe UI", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #555;
	-webkit-overflow-scrolling: touch!important;
}


/* toolbars */
[toolbar] {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 95px;
	line-height: 70px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
	/*padding: 0 4px;*/
	/*background-color: white;*/
}

[toolbar] + * {
	margin-top: 95px;
}

[toolbar][seamed] {
	box-shadow: none;
}

[toolbar][scroll] {
	position: relative;
}

[toolbar][scroll] + * {
	margin-top: 0;
}

[toolbar] [right], [toolbar] [left] {
	min-width: 56px;
	height: 95px;
	border: none;
	padding: none;
	position: relative;
	display: inline-block;
	text-align: center;
}

[toolbar] [right] [icon], [toolbar] [left] [icon] {
	text-align: center;
	vertical-align: middle;
}

[toolbar] [right] {
	float: right;
}

[toolbar] [left] {
	float: left;
}

[toolbar] [title] {
	margin-left: 4px;
	font-size: 24px;
	display: inline-block;
	/* start of some magic trick */
	white-space: nowrap;
	max-width: 65%;
	position: absolute;
	top: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	/* end of magic hack */
}


/* panel/drawer-main */
[panel] {
	position: relative;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
}

[panel] > [drawer] {
	width: 300px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	/*overflow-x: hidden;*/
	overflow-y: auto;
}

[panel] > [main] {
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	position: relative;
	background-color: white;
}

[panel] > [main] > [content] {
	z-index: 0;
	min-width: 320px;
	max-width: 960px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

[panel] > [drawer], [panel] > [main] {
	padding: 8px;
}

@media (min-width: 961px) {
	[panel] {
		padding-left: 300px;
	}
	[toolbar] + * > [drawer] {
		top: 95px; /* little hack */
	}
	[toolbar][scroll] + * > [drawer] {
		top: 0; /* little hack */
	}
	[panel] > [drawer] {
		left: 0!important; /* needed because of the positioning set on velocity */
		background-color: #eeeeee;
		box-shadow: inset -2px 0 5px rgba(0, 0, 0, .15);
	}
	[panel] > [main] > [toolbar] {
		left: 300px;
		padding-right: 300px; /* little hack */
	}
	[panel] > [main] > [toolbar][scroll] {
		left: 0;
		padding-right: 0;
	}
	[panel] > [main] > [toolbar] > [panel-target] {
		display: none;
	}
	[panel][alwayshide] {
		padding-left: 0px;
	}
	[panel][alwayshide] > [main] > [toolbar] {
		left: 0px;
		padding-right: 0px; /* little hack */
	}
	[panel][alwayshide] > [main] > [toolbar] > [panel-target] {
		display: block;
	}
	[panel][alwayshide] > [drawer] {
		top: 95px;
		padding-bottom: 95px;
		z-index: 11;
		left: -305px!important;
		background: white;
		transition: left .2s;
		-moz-transition: left .2s;
		-webkit-transition: left .2s;
	}
	[panel][alwayshide][opened] > [drawer] {
		/* little hack */
		left: 0px!important;
		box-shadow: 2px 0 5px rgba(0, 0, 0, .5), 100px 0 0 1280px rgba(0, 0, 0, .25);
	}
	[panel][alwayshide][opened][nodim] > [drawer] {
		box-shadow: 2px 0 5px rgba(0, 0, 0, .5), 1600px 1600px 0 1600px rgba(0, 0, 0, .25);
	}
	[panel][alwayshide][opened] > [main] {
		position: fixed;
		overflow: hidden;
	}
}
@media (max-width: 960px) {
	[panel] > [drawer] {
		top: 95px;
		padding-bottom: 95px;
		z-index: 18;
		left: -305px;
		background: white;
	}
	[panel][opened] > [drawer] {
		/* little hack */
		box-shadow: 2px 0 5px rgba(0, 0, 0, .5), 1600px 0 0 1600px rgba(0, 0, 0, .25);
	}
	[panel][opened][nodim] > [drawer] {
		box-shadow: 2px 0 5px rgba(0, 0, 0, .5), 1600px 1600px 0 1600px rgba(0, 0, 0, .25);
	}
	/*[panel][opened] > [main] {
		position: fixed;
		overflow: hidden;
	}*/
}
[panel][fullheight] > [drawer] {
	top: 0;
	padding-bottom: 8px;
}



/* floating action button / fab */
[fab] {
	width: 56px;
	height: 56px;
	padding: 16px;
	border-radius: 50%;
	overflow: hidden;
}

/* z-indices & raised */
[fab], [raised] {
	transition: box-shadow .2s;
	-moz-transition: box-shadow .2s;
	-webkit-transition: box-shadow .2s;
}

[raised]:active {
	opacity: 1!important;
}

[raised], [z-1] {
	box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
	z-index: 1;
}

[raised]:active, [z-2], [fab]:active {
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	z-index: 2;
}

[z-3] {
	box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	z-index: 3;
}

[z-4] {
	box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
	z-index: 4;
}

[z-5] {
	box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 27px 24px 0 rgba(0, 0, 0, 0.2);
	z-index: 5;
}

/* cards */
[card] {
	display: inline-block;
	background: white;
	color: #555;
	padding: 8px 16px;
	margin: 8px;
	/*border-radius: 2px;*/
}
[card][fluid] {
	margin: 8px 0;
}
@media (max-width: 960px) {
	[card] {
		border-radius: 0;
	}
}

/* lists */
[list] {
	width: 100%;
}

[list] > [item] {
	font-size: 20px;
	line-height: 32px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: thin solid rgba(0, 0, 0, .15);
	cursor: pointer;
}

[list] > [item]:hover, [list] > [item][active] {
	background-color: rgba(200, 200, 200, .15);
}

/*[list] > [item]:active {
	background-color: rgba(220, 220, 200, .25);
}*/

[list] > a[item],
[list] > [item] > a {
	display: block;
	color: inherit !important;
	text-decoration: none !important;
	width: 100%;
}

[list] > [item] > [icon], [list] > [item] > a > [icon], [icon][align] {
	margin-bottom: 4px;
	margin-right: 4px;
}

[list] > [item]:last-child {
	border-bottom: none;
}


/* inputs */
[material] input {
	border-bottom: 2px solid rgba(0, 0, 0, .15);
	padding: 4px 0;
	margin: 8px 0;
	outline: none;
	transition: border-color .2s;
	-moz-transition: border-color .2s;
	-webkit-transition: border-color .2s;
	font-family: inherit;
	font-size: 14px;
}

[material] input:active, [material] input:focus {
	border-color: #009688;
}

[material] input[type="radio"] + label {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding-left: 24px;
	background-repeat: no-repeat;
	background-position: 0 -48px;
	background-image: url(svg-sprite-toggle.svg);
}

[material] input[type="radio"]:checked + label {
	background-position: 0 -72px;
	background-image: url(svg-sprite-toggle.svg);
}

[material] input[type="checkbox"] + label {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding-left: 24px;
	background-repeat: no-repeat;
	background-position: 0 -24px;
	background-image: url(svg-sprite-toggle.svg);
}

[material] input[type="checkbox"]:checked + label {
	background-position: 0 0;
	background-image: url(svg-sprite-toggle.svg);
}

/* buttons */
[material] button, [button], [material] input[type="button"], [material] input[type="submit"] {
	display: inline-block;
	padding: 12px 8px;
	border-radius: 3px;
	text-align: center;
	margin: 4px;
	text-transform: uppercase;
	text-decoration: none;
	min-width: 32px;
	min-height: 32px;
	cursor: pointer;
	background: white;
}

[material] button[disabled], [button][disabled], [material] input[type="button"][disabled], [material] input[type="submit"][disabled] {
	background: #eee !important;
	color: #a8a8a8 !important;
	cursor: default !important;
}

[material] button[hover], [button][hover] {
	transition: background-color .2s;
	-moz-transition: background-color .2s;
	-webkit-transition: background-color .2s;
}

[material] button[hover]:hover, [button][hover]:hover {
	background-color: rgba(0, 0, 0, .05);
}


/* textareas */
[material] textarea {
	border: thin solid rgba(0, 0, 0, .15);
	border-radius: 3px;
	resize: both;
	padding: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	outline: none;
	transition: border-color .2s;
	-moz-transition: border-color .2s;
	-webkit-transition: border-color .2s;
	font-family: inherit;
	font-size: 14px;
	background: white;
}

[material] textarea:active, [material] textarea:focus {
	border-color: #009688;
}

[material] textarea[vertical]::-webkit-resizer,
[material] textarea[horizontal]::-webkit-resizer {
	-webkit-appearance: none;
}

[material] textarea[vertical]::-webkit-resizer {
	background-position: -4px -264px;
	background-image: url(svg-sprite-hardware.svg);
}

[material] textarea[horizontal]::-webkit-resizer {
	background-position: 0 -316px;
	background-image: url(svg-sprite-hardware.svg);
}

[material] textarea[vertical] {
	resize: vertical;
	border-bottom: 2px solid #009688;
}

[material] textarea[horizontal] {
	resize: horizontal;
	border-right: 2px solid #009688;
}

[material] textarea[noresize] {
	resize: none;
}

[material] textarea[code] {
	background: #004D40;
	color: #fff;
	font-size: 12px;
}


/* forms */
[material] form {

}
[material] form > [control] {
	width: 100%;
	max-width: 300px;
}
[material] form > [control] > label {
	display: block;
	font-size: 12px;
	font-weight: 400;
	color: #009688;
}
[material] form > [control] > label + input {
	margin-top: 0;
}
[material] form > [control] > input {
	width: 100%;
}
[material] form[horizontal] > [control] {
	display: inline-block;
	max-width: auto;
	width: auto;
	vertical-align: middle;
}




/* pages */
[pages] {
	/*overflow-x: hidden;*/
}
[pages] > [page] {
	display: none;
}
[pages] > [page][active] {
	display: block;
}


/* ripples */
[ripple] {
	position: relative;
	z-index: 0;
	overflow: hidden;
}
[ripple] [_ripple-container] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
[ripple] [_ripple] {
	fill: rgba(220, 220, 220, .4);
}
	


/* material design colors */
[fg-white] { color: white!important }
[fg-black] { color: black!important }
[fg-none] { color: transparent!important }
[fg-red], [fg-red500] { color: #e51c23!important }
[fg-red50] { color: #fde0dc!important }
[fg-red100] { color: #f9bdbb!important }
[fg-red200] { color: #f69988!important }
[fg-red300] { color: #f36c60!important }
[fg-red400] { color: #e84e40!important }
[fg-red600] { color: #dd191d!important }
[fg-red700] { color: #d01716!important }
[fg-red800] { color: #c41411!important }
[fg-red900] { color: #b0120a!important }
[fg-redA100] { color: #ff7997!important }
[fg-redA200] { color: #ff5177!important }
[fg-redA400] { color: #ff2d6f!important }
[fg-redA700] { color: #e00032!important }

[fg-pink], [fg-pink500] { color: #e91e63!important }
[fg-pink50] { color: #fce4ec!important }
[fg-pink100] { color: #f8bbd0!important }
[fg-pink200] { color: #f48fb1!important }
[fg-pink300] { color: #f06292!important }
[fg-pink400] { color: #ec407a!important }
[fg-pink600] { color: #d81b60!important }
[fg-pink700] { color: #c2185b!important }
[fg-pink800] { color: #ad1457!important }
[fg-pink900] { color: #880e4f!important }
[fg-pinkA100] { color: #ff80ab!important }
[fg-pinkA200] { color: #ff4081!important }
[fg-pinkA400] { color: #f50057!important }
[fg-pinkA700] { color: #c51162!important }

[fg-purple], [fg-purple500] { color: #9c27b0!important }
[fg-purple50] { color: #f3e5f5!important }
[fg-purple100] { color: #e1bee7!important }
[fg-purple200] { color: #ce93d8!important }
[fg-purple300] { color: #ba68c8!important }
[fg-purple400] { color: #ab47bc!important }
[fg-purple600] { color: #8e24aa!important }
[fg-purple700] { color: #7b1fa2!important }
[fg-purple800] { color: #6a1b9a!important }
[fg-purple900] { color: #4a148c!important }
[fg-purpleA100] { color: #ea80fc!important }
[fg-purpleA200] { color: #e040fb!important }
[fg-purpleA400] { color: #d500f9!important }
[fg-purpleA700] { color: #aa00ff!important }

[fg-deep-purple], [fg-deep-purple500] { color: #673ab7!important }
[fg-deep-purple50] { color: #ede7f6!important }
[fg-deep-purple100] { color: #d1c4e9!important }
[fg-deep-purple200] { color: #b39ddb!important }
[fg-deep-purple300] { color: #9575cd!important }
[fg-deep-purple400] { color: #7e57c2!important }
[fg-deep-purple600] { color: #5e35b1!important }
[fg-deep-purple700] { color: #512da8!important }
[fg-deep-purple800] { color: #4527a0!important }
[fg-deep-purple900] { color: #311b92!important }
[fg-deep-purpleA100] { color: #b388ff!important }
[fg-deep-purpleA200] { color: #7c4dff!important }
[fg-deep-purpleA400] { color: #651fff!important }
[fg-deep-purpleA700] { color: #6200ea!important }

[fg-indigo], [fg-indigo500] { color: #3f51b5!important }
[fg-indigo50] { color: #e8eaf6!important }
[fg-indigo100] { color: #c5cae9!important }
[fg-indigo200] { color: #9fa8da!important }
[fg-indigo300] { color: #7986cb!important }
[fg-indigo400] { color: #5c6bc0!important }
[fg-indigo600] { color: #3949ab!important }
[fg-indigo700] { color: #303f9f!important }
[fg-indigo800] { color: #283593!important }
[fg-indigo900] { color: #1a237e!important }
[fg-indigoA100] { color: #8c9eff!important }
[fg-indigoA200] { color: #536dfe!important }
[fg-indigoA400] { color: #3d5afe!important }
[fg-indigoA700] { color: #304ffe!important }

[fg-blue], [fg-blue500] { color: #5677fc!important }
[fg-blue50] { color: #e7e9fd!important }
[fg-blue100] { color: #d0d9ff!important }
[fg-blue200] { color: #afbfff!important }
[fg-blue300] { color: #91a7ff!important }
[fg-blue400] { color: #738ffe!important }
[fg-blue600] { color: #4e6cef!important }
[fg-blue700] { color: #455ede!important }
[fg-blue800] { color: #3b50ce!important }
[fg-blue900] { color: #2a36b1!important }
[fg-blueA100] { color: #a6baff!important }
[fg-blueA200] { color: #6889ff!important }
[fg-blueA400] { color: #4d73ff!important }
[fg-blueA700] { color: #4d69ff!important }

[fg-light-blue], [fg-light-blue500] { color: #03a9f4!important }
[fg-light-blue50] { color: #e1f5fe!important }
[fg-light-blue100] { color: #b3e5fc!important }
[fg-light-blue200] { color: #81d4fa!important }
[fg-light-blue300] { color: #4fc3f7!important }
[fg-light-blue400] { color: #29b6f6!important }
[fg-light-blue600] { color: #039be5!important }
[fg-light-blue700] { color: #0288d1!important }
[fg-light-blue800] { color: #0277bd!important }
[fg-light-blue900] { color: #01579b!important }
[fg-light-blueA100] { color: #80d8ff!important }
[fg-light-blueA200] { color: #40c4ff!important }
[fg-light-blueA400] { color: #00b0ff!important }
[fg-light-blueA700] { color: #0091ea!important }

[fg-cyan], [fg-cyan500] { color: #00bcd4!important }
[fg-cyan50] { color: #e0f7fa!important }
[fg-cyan100] { color: #b2ebf2!important }
[fg-cyan200] { color: #80deea!important }
[fg-cyan300] { color: #4dd0e1!important }
[fg-cyan400] { color: #26c6da!important }
[fg-cyan600] { color: #00acc1!important }
[fg-cyan700] { color: #0097a7!important }
[fg-cyan800] { color: #00838f!important }
[fg-cyan900] { color: #006056!important }
[fg-cyanA100] { color: #84ffff!important }
[fg-cyanA200] { color: #18ffff!important }
[fg-cyanA400] { color: #00e5ff!important }
[fg-cyanA700] { color: #00b8d4!important }

[fg-teal], [fg-teal500] { color: #009688!important }
[fg-teal50] { color: #e0f2f1!important }
[fg-teal100] { color: #b2dfdb!important }
[fg-teal200] { color: #80cbc4!important }
[fg-teal300] { color: #4db6ac!important }
[fg-teal400] { color: #26a69a!important }
[fg-teal600] { color: #00897b!important }
[fg-teal700] { color: #00796b!important }
[fg-teal800] { color: #00695c!important }
[fg-teal900] { color: #004d40!important }
[fg-tealA100] { color: #a7ffeb!important }
[fg-tealA200] { color: #56ffda!important }
[fg-tealA400] { color: #1de9b6!important }
[fg-tealA700] { color: #00bfa5!important }

[fg-green], [fg-green500] { color: #259b24!important }
[fg-green50] { color: #d0f8ce!important }
[fg-green100] { color: #a3e9a4!important }
[fg-green200] { color: #72d572!important }
[fg-green300] { color: #42bd41!important }
[fg-green400] { color: #2baf2b!important }
[fg-green600] { color: #0a8f08!important }
[fg-green700] { color: #0a7e07!important }
[fg-green800] { color: #056f00!important }
[fg-green900] { color: #0d5302!important }
[fg-greenA100] { color: #a2f78d!important }
[fg-greenA200] { color: #5af158!important }
[fg-greenA400] { color: #14e715!important }
[fg-greenA700] { color: #12c700!important }

[fg-light-green], [fg-light-green500] { color: #8bc34a!important }
[fg-light-green50] { color: #f1f8e9!important }
[fg-light-green100] { color: #dcedc8!important }
[fg-light-green200] { color: #c5e1a5!important }
[fg-light-green300] { color: #aed581!important }
[fg-light-green400] { color: #9ccc65!important }
[fg-light-green600] { color: #7cb342!important }
[fg-light-green700] { color: #689f38!important }
[fg-light-green800] { color: #558b2f!important }
[fg-light-green900] { color: #33691e!important }
[fg-light-greenA100] { color: #ccff90!important }
[fg-light-greenA200] { color: #b2ff59!important }
[fg-light-greenA400] { color: #76ff03!important }
[fg-light-greenA700] { color: #56dd17!important }

[fg-lime], [fg-lime500] { color: #cddc39!important }
[fg-lime50] { color: #f9fbe7!important }
[fg-lime100] { color: #f0f4c3!important }
[fg-lime200] { color: #e6ee9c!important }
[fg-lime300] { color: #dce775!important }
[fg-lime400] { color: #d4e157!important }
[fg-lime600] { color: #c0ca33!important }
[fg-lime700] { color: #afb42b!important }
[fg-lime800] { color: #9e9d24!important }
[fg-lime900] { color: #827717!important }
[fg-limeA100] { color: #f4ff81!important }
[fg-limeA200] { color: #eeff41!important }
[fg-limeA400] { color: #c6ff00!important }
[fg-limeA700] { color: #aeea00!important }

[fg-yellow], [fg-yellow500] { color: #ffeb3b!important }
[fg-yellow50] { color: #fffde7!important }
[fg-yellow100] { color: #fff9c4!important }
[fg-yellow200] { color: #fff59d!important }
[fg-yellow300] { color: #fff176!important }
[fg-yellow400] { color: #ffee58!important }
[fg-yellow600] { color: #fdd835!important }
[fg-yellow700] { color: #fbc02d!important }
[fg-yellow800] { color: #f9a825!important }
[fg-yellow900] { color: #f57f17!important }
[fg-yellowA100] { color: #ffff8d!important }
[fg-yellowA200] { color: #ffff00!important }
[fg-yellowA400] { color: #ffea00!important }
[fg-yellowA700] { color: #ffd600!important }

[fg-amber], [fg-amber500] { color: #ffc107!important }
[fg-amber50] { color: #fff8e1!important }
[fg-amber100] { color: #ffecb3!important }
[fg-amber200] { color: #ffe082!important }
[fg-amber300] { color: #ffd54f!important }
[fg-amber400] { color: #ffca28!important }
[fg-amber600] { color: #ffb300!important }
[fg-amber700] { color: #ffa000!important }
[fg-amber800] { color: #ff8f00!important }
[fg-amber900] { color: #ff6f00!important }
[fg-amberA100] { color: #ffe57f!important }
[fg-amberA200] { color: #ffd740!important }
[fg-amberA400] { color: #ffc400!important }
[fg-amberA700] { color: #ffab00!important }

[fg-orange], [fg-orange500] { color: #ff9800!important }
[fg-orange50] { color: #fff3e0!important }
[fg-orange100] { color: #ffe0b2!important }
[fg-orange200] { color: #ffcc80!important }
[fg-orange300] { color: #ffb74d!important }
[fg-orange400] { color: #ffa726!important }
[fg-orange600] { color: #fb8c00!important }
[fg-orange700] { color: #f57c00!important }
[fg-orange800] { color: #ef6c00!important }
[fg-orange900] { color: #e65100!important }
[fg-orangeA100] { color: #ffd180!important }
[fg-orangeA200] { color: #ffab40!important }
[fg-orangeA400] { color: #ff9100!important }
[fg-orangeA700] { color: #ff6d00!important }

[fg-deep-orange], [fg-deep-orange500] { color: #ff5722!important }
[fg-deep-orange50] { color: #fbe9e7!important }
[fg-deep-orange100] { color: #ffccbc!important }
[fg-deep-orange200] { color: #ffab91!important }
[fg-deep-orange300] { color: #ff8a65!important }
[fg-deep-orange400] { color: #ff7043!important }
[fg-deep-orange600] { color: #f4511e!important }
[fg-deep-orange700] { color: #e56a19!important }
[fg-deep-orange800] { color: #d84315!important }
[fg-deep-orange900] { color: #bf360c!important }
[fg-deep-orangeA100] { color: #ff9e80!important }
[fg-deep-orangeA200] { color: #ff6e40!important }
[fg-deep-orangeA400] { color: #ff3d00!important }
[fg-deep-orangeA700] { color: #dd2c00!important }

[fg-brown], [fg-brown500] { color: #795548!important }
[fg-brown50] { color: #efebe9!important }
[fg-brown100] { color: #d7ccc8!important }
[fg-brown200] { color: #bcaaa4!important }
[fg-brown300] { color: #a1887f!important }
[fg-brown400] { color: #8d6e63!important }
[fg-brown600] { color: #6d4c41!important }
[fg-brown700] { color: #5d4037!important }
[fg-brown800] { color: #4e342e!important }
[fg-brown900] { color: #3e2723!important }

[fg-grey], [fg-grey500] { color: #9e9e9e!important }
[fg-grey50] { color: #fafafa!important }
[fg-grey100] { color: #f5f5f5!important }
[fg-grey200] { color: #eeeeee!important }
[fg-grey300] { color: #e0e0e0!important }
[fg-grey400] { color: #bdbdbd!important }
[fg-grey600] { color: #757575!important }
[fg-grey700] { color: #616161!important }
[fg-grey800] { color: #424242!important }
[fg-grey900] { color: #212121!important }

[fg-blue-grey], [fg-blue-grey500] { color: #607d8b!important }
[fg-blue-grey50] { color: #eceff1!important }
[fg-blue-grey100] { color: #cfd8dc!important }
[fg-blue-grey200] { color: #b0bec5!important }
[fg-blue-grey300] { color: #90a4ae!important }
[fg-blue-grey400] { color: #78909c!important }
[fg-blue-grey600] { color: #546e7a!important }
[fg-blue-grey700] { color: #455a56!important }
[fg-blue-grey800] { color: #37474f!important }
[fg-blue-grey900] { color: #263238!important }

[bg-white] { background-color: white!important }
[bg-black] { background-color: black!important }
[bg-none] { background-color: transparent!important }
[bg-red], [bg-red500] { background-color: #e51c23!important }
[bg-red50] { background-color: #fde0dc!important }
[bg-red100] { background-color: #f9bdbb!important }
[bg-red200] { background-color: #f69988!important }
[bg-red300] { background-color: #f36c60!important }
[bg-red400] { background-color: #e84e40!important }
[bg-red600] { background-color: #dd191d!important }
[bg-red700] { background-color: #d01716!important }
[bg-red800] { background-color: #c41411!important }
[bg-red900] { background-color: #b0120a!important }
[bg-redA100] { background-color: #ff7997!important }
[bg-redA200] { background-color: #ff5177!important }
[bg-redA400] { background-color: #ff2d6f!important }
[bg-redA700] { background-color: #e00032!important }

[bg-pink], [bg-pink500] { background-color: #e91e63!important }
[bg-pink50] { background-color: #fce4ec!important }
[bg-pink100] { background-color: #f8bbd0!important }
[bg-pink200] { background-color: #f48fb1!important }
[bg-pink300] { background-color: #f06292!important }
[bg-pink400] { background-color: #ec407a!important }
[bg-pink600] { background-color: #d81b60!important }
[bg-pink700] { background-color: #c2185b!important }
[bg-pink800] { background-color: #ad1457!important }
[bg-pink900] { background-color: #880e4f!important }
[bg-pinkA100] { background-color: #ff80ab!important }
[bg-pinkA200] { background-color: #ff4081!important }
[bg-pinkA400] { background-color: #f50057!important }
[bg-pinkA700] { background-color: #c51162!important }

[bg-purple], [bg-purple500] { background-color: #9c27b0!important }
[bg-purple50] { background-color: #f3e5f5!important }
[bg-purple100] { background-color: #e1bee7!important }
[bg-purple200] { background-color: #ce93d8!important }
[bg-purple300] { background-color: #ba68c8!important }
[bg-purple400] { background-color: #ab47bc!important }
[bg-purple600] { background-color: #8e24aa!important }
[bg-purple700] { background-color: #7b1fa2!important }
[bg-purple800] { background-color: #6a1b9a!important }
[bg-purple900] { background-color: #4a148c!important }
[bg-purpleA100] { background-color: #ea80fc!important }
[bg-purpleA200] { background-color: #e040fb!important }
[bg-purpleA400] { background-color: #d500f9!important }
[bg-purpleA700] { background-color: #aa00ff!important }

[bg-deep-purple], [bg-deep-purple500] { background-color: #673ab7!important }
[bg-deep-purple50] { background-color: #ede7f6!important }
[bg-deep-purple100] { background-color: #d1c4e9!important }
[bg-deep-purple200] { background-color: #b39ddb!important }
[bg-deep-purple300] { background-color: #9575cd!important }
[bg-deep-purple400] { background-color: #7e57c2!important }
[bg-deep-purple600] { background-color: #5e35b1!important }
[bg-deep-purple700] { background-color: #512da8!important }
[bg-deep-purple800] { background-color: #4527a0!important }
[bg-deep-purple900] { background-color: #311b92!important }
[bg-deep-purpleA100] { background-color: #b388ff!important }
[bg-deep-purpleA200] { background-color: #7c4dff!important }
[bg-deep-purpleA400] { background-color: #651fff!important }
[bg-deep-purpleA700] { background-color: #6200ea!important }

[bg-indigo], [bg-indigo500] { background-color: #3f51b5!important }
[bg-indigo50] { background-color: #e8eaf6!important }
[bg-indigo100] { background-color: #c5cae9!important }
[bg-indigo200] { background-color: #9fa8da!important }
[bg-indigo300] { background-color: #7986cb!important }
[bg-indigo400] { background-color: #5c6bc0!important }
[bg-indigo600] { background-color: #3949ab!important }
[bg-indigo700] { background-color: #303f9f!important }
[bg-indigo800] { background-color: #283593!important }
[bg-indigo900] { background-color: #1a237e!important }
[bg-indigoA100] { background-color: #8c9eff!important }
[bg-indigoA200] { background-color: #536dfe!important }
[bg-indigoA400] { background-color: #3d5afe!important }
[bg-indigoA700] { background-color: #304ffe!important }

[bg-blue], [bg-blue500] { background-color: #5677fc!important }
[bg-blue50] { background-color: #e7e9fd!important }
[bg-blue100] { background-color: #d0d9ff!important }
[bg-blue200] { background-color: #afbfff!important }
[bg-blue300] { background-color: #91a7ff!important }
[bg-blue400] { background-color: #738ffe!important }
[bg-blue600] { background-color: #4e6cef!important }
[bg-blue700] { background-color: #455ede!important }
[bg-blue800] { background-color: #3b50ce!important }
[bg-blue900] { background-color: #2a36b1!important }
[bg-blueA100] { background-color: #a6baff!important }
[bg-blueA200] { background-color: #6889ff!important }
[bg-blueA400] { background-color: #4d73ff!important }
[bg-blueA700] { background-color: #4d69ff!important }

[bg-light-blue], [bg-light-blue500] { background-color: #03a9f4!important }
[bg-light-blue50] { background-color: #e1f5fe!important }
[bg-light-blue100] { background-color: #b3e5fc!important }
[bg-light-blue200] { background-color: #81d4fa!important }
[bg-light-blue300] { background-color: #4fc3f7!important }
[bg-light-blue400] { background-color: #29b6f6!important }
[bg-light-blue600] { background-color: #039be5!important }
[bg-light-blue700] { background-color: #0288d1!important }
[bg-light-blue800] { background-color: #0277bd!important }
[bg-light-blue900] { background-color: #01579b!important }
[bg-light-blueA100] { background-color: #80d8ff!important }
[bg-light-blueA200] { background-color: #40c4ff!important }
[bg-light-blueA400] { background-color: #00b0ff!important }
[bg-light-blueA700] { background-color: #0091ea!important }

[bg-cyan], [bg-cyan500] { background-color: #00bcd4!important }
[bg-cyan50] { background-color: #e0f7fa!important }
[bg-cyan100] { background-color: #b2ebf2!important }
[bg-cyan200] { background-color: #80deea!important }
[bg-cyan300] { background-color: #4dd0e1!important }
[bg-cyan400] { background-color: #26c6da!important }
[bg-cyan600] { background-color: #00acc1!important }
[bg-cyan700] { background-color: #0097a7!important }
[bg-cyan800] { background-color: #00838f!important }
[bg-cyan900] { background-color: #006056!important }
[bg-cyanA100] { background-color: #84ffff!important }
[bg-cyanA200] { background-color: #18ffff!important }
[bg-cyanA400] { background-color: #00e5ff!important }
[bg-cyanA700] { background-color: #00b8d4!important }

[bg-teal], [bg-teal500] { background-color: #009688!important }
[bg-teal50] { background-color: #e0f2f1!important }
[bg-teal100] { background-color: #b2dfdb!important }
[bg-teal200] { background-color: #80cbc4!important }
[bg-teal300] { background-color: #4db6ac!important }
[bg-teal400] { background-color: #26a69a!important }
[bg-teal600] { background-color: #00897b!important }
[bg-teal700] { background-color: #00796b!important }
[bg-teal800] { background-color: #00695c!important }
[bg-teal900] { background-color: #004d40!important }
[bg-tealA100] { background-color: #a7ffeb!important }
[bg-tealA200] { background-color: #56ffda!important }
[bg-tealA400] { background-color: #1de9b6!important }
[bg-tealA700] { background-color: #00bfa5!important }

[bg-green], [bg-green500] { background-color: #259b24!important }
[bg-green50] { background-color: #d0f8ce!important }
[bg-green100] { background-color: #a3e9a4!important }
[bg-green200] { background-color: #72d572!important }
[bg-green300] { background-color: #42bd41!important }
[bg-green400] { background-color: #2baf2b!important }
[bg-green600] { background-color: #0a8f08!important }
[bg-green700] { background-color: #0a7e07!important }
[bg-green800] { background-color: #056f00!important }
[bg-green900] { background-color: #0d5302!important }
[bg-greenA100] { background-color: #a2f78d!important }
[bg-greenA200] { background-color: #5af158!important }
[bg-greenA400] { background-color: #14e715!important }
[bg-greenA700] { background-color: #12c700!important }

[bg-light-green], [bg-light-green500] { background-color: #8bc34a!important }
[bg-light-green50] { background-color: #f1f8e9!important }
[bg-light-green100] { background-color: #dcedc8!important }
[bg-light-green200] { background-color: #c5e1a5!important }
[bg-light-green300] { background-color: #aed581!important }
[bg-light-green400] { background-color: #9ccc65!important }
[bg-light-green600] { background-color: #7cb342!important }
[bg-light-green700] { background-color: #689f38!important }
[bg-light-green800] { background-color: #558b2f!important }
[bg-light-green900] { background-color: #33691e!important }
[bg-light-greenA100] { background-color: #ccff90!important }
[bg-light-greenA200] { background-color: #b2ff59!important }
[bg-light-greenA400] { background-color: #76ff03!important }
[bg-light-greenA700] { background-color: #56dd17!important }

[bg-lime], [bg-lime500] { background-color: #cddc39!important }
[bg-lime50] { background-color: #f9fbe7!important }
[bg-lime100] { background-color: #f0f4c3!important }
[bg-lime200] { background-color: #e6ee9c!important }
[bg-lime300] { background-color: #dce775!important }
[bg-lime400] { background-color: #d4e157!important }
[bg-lime600] { background-color: #c0ca33!important }
[bg-lime700] { background-color: #afb42b!important }
[bg-lime800] { background-color: #9e9d24!important }
[bg-lime900] { background-color: #827717!important }
[bg-limeA100] { background-color: #f4ff81!important }
[bg-limeA200] { background-color: #eeff41!important }
[bg-limeA400] { background-color: #c6ff00!important }
[bg-limeA700] { background-color: #aeea00!important }

[bg-yellow], [bg-yellow500] { background-color: #ffeb3b!important }
[bg-yellow50] { background-color: #fffde7!important }
[bg-yellow100] { background-color: #fff9c4!important }
[bg-yellow200] { background-color: #fff59d!important }
[bg-yellow300] { background-color: #fff176!important }
[bg-yellow400] { background-color: #ffee58!important }
[bg-yellow600] { background-color: #fdd835!important }
[bg-yellow700] { background-color: #fbc02d!important }
[bg-yellow800] { background-color: #f9a825!important }
[bg-yellow900] { background-color: #f57f17!important }
[bg-yellowA100] { background-color: #ffff8d!important }
[bg-yellowA200] { background-color: #ffff00!important }
[bg-yellowA400] { background-color: #ffea00!important }
[bg-yellowA700] { background-color: #ffd600!important }

[bg-amber], [bg-amber500] { background-color: #ffc107!important }
[bg-amber50] { background-color: #fff8e1!important }
[bg-amber100] { background-color: #ffecb3!important }
[bg-amber200] { background-color: #ffe082!important }
[bg-amber300] { background-color: #ffd54f!important }
[bg-amber400] { background-color: #ffca28!important }
[bg-amber600] { background-color: #ffb300!important }
[bg-amber700] { background-color: #ffa000!important }
[bg-amber800] { background-color: #ff8f00!important }
[bg-amber900] { background-color: #ff6f00!important }
[bg-amberA100] { background-color: #ffe57f!important }
[bg-amberA200] { background-color: #ffd740!important }
[bg-amberA400] { background-color: #ffc400!important }
[bg-amberA700] { background-color: #ffab00!important }

[bg-orange], [bg-orange500] { background-color: #ff9800!important }
[bg-orange50] { background-color: #fff3e0!important }
[bg-orange100] { background-color: #ffe0b2!important }
[bg-orange200] { background-color: #ffcc80!important }
[bg-orange300] { background-color: #ffb74d!important }
[bg-orange400] { background-color: #ffa726!important }
[bg-orange600] { background-color: #fb8c00!important }
[bg-orange700] { background-color: #f57c00!important }
[bg-orange800] { background-color: #ef6c00!important }
[bg-orange900] { background-color: #e65100!important }
[bg-orangeA100] { background-color: #ffd180!important }
[bg-orangeA200] { background-color: #ffab40!important }
[bg-orangeA400] { background-color: #ff9100!important }
[bg-orangeA700] { background-color: #ff6d00!important }

[bg-deep-orange], [bg-deep-orange500] { background-color: #ff5722!important }
[bg-deep-orange50] { background-color: #fbe9e7!important }
[bg-deep-orange100] { background-color: #ffccbc!important }
[bg-deep-orange200] { background-color: #ffab91!important }
[bg-deep-orange300] { background-color: #ff8a65!important }
[bg-deep-orange400] { background-color: #ff7043!important }
[bg-deep-orange600] { background-color: #f4511e!important }
[bg-deep-orange700] { background-color: #e56a19!important }
[bg-deep-orange800] { background-color: #d84315!important }
[bg-deep-orange900] { background-color: #bf360c!important }
[bg-deep-orangeA100] { background-color: #ff9e80!important }
[bg-deep-orangeA200] { background-color: #ff6e40!important }
[bg-deep-orangeA400] { background-color: #ff3d00!important }
[bg-deep-orangeA700] { background-color: #dd2c00!important }

[bg-brown], [bg-brown500] { background-color: #795548!important }
[bg-brown50] { background-color: #efebe9!important }
[bg-brown100] { background-color: #d7ccc8!important }
[bg-brown200] { background-color: #bcaaa4!important }
[bg-brown300] { background-color: #a1887f!important }
[bg-brown400] { background-color: #8d6e63!important }
[bg-brown600] { background-color: #6d4c41!important }
[bg-brown700] { background-color: #5d4037!important }
[bg-brown800] { background-color: #4e342e!important }
[bg-brown900] { background-color: #3e2723!important }

[bg-grey], [bg-grey500] { background-color: #9e9e9e!important }
[bg-grey50] { background-color: #fafafa!important }
[bg-grey100] { background-color: #f5f5f5!important }
[bg-grey200] { background-color: #eeeeee!important }
[bg-grey300] { background-color: #e0e0e0!important }
[bg-grey400] { background-color: #bdbdbd!important }
[bg-grey600] { background-color: #757575!important }
[bg-grey700] { background-color: #616161!important }
[bg-grey800] { background-color: #424242!important }
[bg-grey900] { background-color: #212121!important }

[bg-blue-grey], [bg-blue-grey500] { background-color: #607d8b!important }
[bg-blue-grey50] { background-color: #eceff1!important }
[bg-blue-grey100] { background-color: #cfd8dc!important }
[bg-blue-grey200] { background-color: #b0bec5!important }
[bg-blue-grey300] { background-color: #90a4ae!important }
[bg-blue-grey400] { background-color: #78909c!important }
[bg-blue-grey600] { background-color: #546e7a!important }
[bg-blue-grey700] { background-color: #455a56!important }
[bg-blue-grey800] { background-color: #37474f!important }
[bg-blue-grey900] { background-color: #263238!important }

[bg-red],
[bg-red500],
[bg-red600],
[bg-red700],
[bg-red800],
[bg-red900],
[bg-redA200],
[bg-redA400],
[bg-redA700],
[bg-pink],
[bg-pink500],
[bg-pink600],
[bg-pink700],
[bg-pink800],
[bg-pink900],
[bg-pinkA200],
[bg-pinkA400],
[bg-pinkA700],
[bg-purple],
[bg-purple300],
[bg-purple400],
[bg-purple500],
[bg-purple600],
[bg-purple700],
[bg-purple800],
[bg-purple900],
[bg-purpleA200],
[bg-purpleA400],
[bg-purpleA700],
[bg-deep-purple],
[bg-deep-purple300],
[bg-deep-purple400],
[bg-deep-purple500],
[bg-deep-purple600],
[bg-deep-purple700],
[bg-deep-purple800],
[bg-deep-purple900],
[bg-deep-purpleA200],
[bg-deep-purpleA400],
[bg-deep-purpleA700],
[bg-indigo],
[bg-indigo300],
[bg-indigo400],
[bg-indigo500],
[bg-indigo600],
[bg-indigo700],
[bg-indigo800],
[bg-indigo900],
[bg-indigoA200],
[bg-indigoA400],
[bg-indigoA700],
[bg-blue],
[bg-blue500],
[bg-blue600],
[bg-blue700],
[bg-blue800],
[bg-blue900],
[bg-blueA200],
[bg-blueA400],
[bg-blueA700],
[bg-light-blue],
[bg-light-blue500],
[bg-light-blue600],
[bg-light-blue700],
[bg-light-blue800],
[bg-light-blue900],
[bg-light-blueA700],
[bg-cyan],
[bg-cyan500],
[bg-cyan600],
[bg-cyan700],
[bg-cyan800],
[bg-cyan900],
[bg-teal],
[bg-teal500],
[bg-teal600],
[bg-teal700],
[bg-teal800],
[bg-teal900],
[bg-green],
[bg-green500],
[bg-green600],
[bg-green700],
[bg-green800],
[bg-green900],
[bg-light-green800],
[bg-light-green900],
[bg-lime900],
[bg-orange800],
[bg-orange900],
[bg-deep-orange],
[bg-deep-orange500],
[bg-deep-orange600],
[bg-deep-orange700],
[bg-deep-orange800],
[bg-deep-orange900],
[bg-deep-orangeA400],
[bg-deep-orangeA700],
[bg-brown],
[bg-brown300],
[bg-brown400],
[bg-brown500],
[bg-brown600],
[bg-brown700],
[bg-brown800],
[bg-brown900],
[bg-grey600],
[bg-grey700],
[bg-grey800],
[bg-grey900],
[bg-blue-grey],
[bg-blue-grey400],
[bg-blue-grey500],
[bg-blue-grey600],
[bg-blue-grey700],
[bg-blue-grey800],
[bg-blue-grey900] {
	color: white;
}

[inverted],
[icon][inverted],
[bg-red] [icon],
[bg-red500] [icon],
[bg-red600] [icon],
[bg-red700] [icon],
[bg-red800] [icon],
[bg-red900] [icon],
[bg-redA200] [icon],
[bg-redA400] [icon],
[bg-redA700] [icon],
[bg-pink] [icon],
[bg-pink500] [icon],
[bg-pink600] [icon],
[bg-pink700] [icon],
[bg-pink800] [icon],
[bg-pink900] [icon],
[bg-pinkA200] [icon],
[bg-pinkA400] [icon],
[bg-pinkA700] [icon],
[bg-purple] [icon],
[bg-purple300] [icon],
[bg-purple400] [icon],
[bg-purple500] [icon],
[bg-purple600] [icon],
[bg-purple700] [icon],
[bg-purple800] [icon],
[bg-purple900] [icon],
[bg-purpleA200] [icon],
[bg-purpleA400] [icon],
[bg-purpleA700] [icon],
[bg-deep-purple] [icon],
[bg-deep-purple300] [icon],
[bg-deep-purple400] [icon],
[bg-deep-purple500] [icon],
[bg-deep-purple600] [icon],
[bg-deep-purple700] [icon],
[bg-deep-purple800] [icon],
[bg-deep-purple900] [icon],
[bg-deep-purpleA200] [icon],
[bg-deep-purpleA400] [icon],
[bg-deep-purpleA700] [icon],
[bg-indigo] [icon],
[bg-indigo300] [icon],
[bg-indigo400] [icon],
[bg-indigo500] [icon],
[bg-indigo600] [icon],
[bg-indigo700] [icon],
[bg-indigo800] [icon],
[bg-indigo900] [icon],
[bg-indigoA200] [icon],
[bg-indigoA400] [icon],
[bg-indigoA700] [icon],
[bg-blue] [icon],
[bg-blue500] [icon],
[bg-blue600] [icon],
[bg-blue700] [icon],
[bg-blue800] [icon],
[bg-blue900] [icon],
[bg-blueA200] [icon],
[bg-blueA400] [icon],
[bg-blueA700] [icon],
[bg-light-blue] [icon],
[bg-light-blue500] [icon],
[bg-light-blue600] [icon],
[bg-light-blue700] [icon],
[bg-light-blue800] [icon],
[bg-light-blue900] [icon],
[bg-light-blueA700] [icon],
[bg-cyan] [icon],
[bg-cyan500] [icon],
[bg-cyan600] [icon],
[bg-cyan700] [icon],
[bg-cyan800] [icon],
[bg-cyan900] [icon],
[bg-teal] [icon],
[bg-teal500] [icon],
[bg-teal600] [icon],
[bg-teal700] [icon],
[bg-teal800] [icon],
[bg-teal900] [icon],
[bg-green] [icon],
[bg-green500] [icon],
[bg-green600] [icon],
[bg-green700] [icon],
[bg-green800] [icon],
[bg-green900] [icon],
[bg-light-green800] [icon],
[bg-light-green900] [icon],
[bg-lime900] [icon],
[bg-orange800] [icon],
[bg-orange900] [icon],
[bg-deep-orange] [icon],
[bg-deep-orange500] [icon],
[bg-deep-orange600] [icon],
[bg-deep-orange700] [icon],
[bg-deep-orange800] [icon],
[bg-deep-orange900] [icon],
[bg-deep-orangeA400] [icon],
[bg-deep-orangeA700] [icon],
[bg-brown] [icon],
[bg-brown300] [icon],
[bg-brown400] [icon],
[bg-brown500] [icon],
[bg-brown600] [icon],
[bg-brown700] [icon],
[bg-brown800] [icon],
[bg-brown900] [icon],
[bg-grey600] [icon],
[bg-grey700] [icon],
[bg-grey800] [icon],
[bg-grey900] [icon],
[bg-blue-grey] [icon],
[bg-blue-grey400] [icon],
[bg-blue-grey500] [icon],
[bg-blue-grey600] [icon],
[bg-blue-grey700] [icon],
[bg-blue-grey800] [icon],
[bg-blue-grey900] [icon] {
	filter: invert(100%);
	-o-filter: invert(100%);
	-moz-filter: invert(100%);
	-webkit-filter: invert(100%);
}


/* helpers */
[fluid] {
	display: block;
	width: 100%;
}
[italic] {
	font-style: italic!important;
}
[oblique] {
	/* for the difference, read: http://stackoverflow.com/questions/1680624/font-style-italic-vs-oblique-in-css */
	font-style: oblique!important;
}
[bold] {
	font-weight: 700!important;
}
[lighter] {
	font-weight: 300!important;
}
[thin] {
	font-weight: 100!important;
}
[muted] {
	color: #eee!important;
}
[smaller] {
	font-size: smaller!important;
}
[align-left] {
	text-align: left!important;
}
[align-right] {
	text-align: right!important;
}
[align-center], [centered] {
	text-align: center!important;
}
[align-justify], [justified] {
	text-align: justify!important;
}
[v-top] {
	vertical-align: text-top!important;
}
[v-middle] {
	vertical-align: middle!important;
}
[v-bottom] {
	vertical-align: baseline!important;
}
[uppercase] {
	text-transform: uppercase!important;
}
[lowercase] {
	text-transform: lowercase!important;
}
[capitalize] {
	text-transform: capitalize!important;
}
[padded] {
	padding: 8px!important;
}
[nopadding] {
	padding: 0!important;
}


















