/* Основные настройки */

div [main]{
    background-color: white !important;
}

body{
    background-color: white !important;
    min-width: 900px;
}

.clear{
    clear: both;
}

.top-line{
    line-height: normal;
    background-color: #334455;
    width: 100%;
    height: 25px;
    float: left;
}

.top-contacts{
    margin:0 0 0 20%;
    width:60%;
    line-height: normal;
    display: block;
    float: left;
    color: #c2cad2;
    font-size: 12px;
    font-weight: 500;
    height: 23px;
}

.top-contacts img{
    padding-left: 10px;
    position: relative;
    /*top: 0px;*/
    height: 23px;
}

.top-contacts span{
    position: relative;
    top: -7px;
}

.mail{
    float: left;
    height: 23px;
}

.phone{
    float: left;
    height: 23px;
}

.skype{
    float: left;
    height: 23px;
}

div[toolbar]{
    background-color: #445566 !important;
    height: 95px;
}

div[toolbar] h1{
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 20px;
    /*z-index: 9999;*/
}

.float-left{
    display: block;
    float: left;
}

.logotype{
    align-self: center;
    /*width: 150px;*/
    float: left;
    margin-left: 10%;
}
/* Левое меню */

#drawer{
    background-color: #e6f0fa;
}
.left_menu_item{
    position: relative;
    padding-top: 7px;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #97a0a6;
    background-color: #e6f0fa;
    border: none;
    border-bottom: solid 1px #d6dbe0;
}
.left_menu_item{
    color: #97a0a6;
    text-decoration: none;
    font:500 19px arial;
    display: table;
}
.left_menu_item span{
    display: block;
    width: 100%;
}
.left_menu_item span:after {
    transition: all .25s;
    opacity: 0;
    margin-left: -.5em;
    content: '\f0a9';
    font-family: 'FontAwesome';
    display: inline-block;
}
.left_menu_item:hover{color: white;}
.left_menu_item:hover span:after {
    opacity: 1;
    margin-left: .4em;
}

.left_menu_item:hover span{
    background-color: #b60051 !important;
    color: white;
    cursor: pointer;
}

.left_menu_sub{
    display: none;
    color: white;
    padding-left: 15px;
    transition: all .5s;
    font-size: 14px;
}
.left_menu_sub a{
    color: #97a0a6;
}
.left_menu_sub a:hover{
    text-decoration: none;
    background-color: #70c1f6;
    color: white;
}

.left_menu_item:hover .left_menu_sub{
    display: block;
    height: auto;
}

.left_menu_item .left_menu_sub a{
    display: block;
}

/*.left_menu_item:hover .left_menu_sub{*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 50px;*/
    /*width: 160px;*/
    /*padding: 10px;*/
/*}*/

#filters select{
    width: 120px;
    height: 35px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 5px;
}

#filters label{
    font-size: 12px;
    font-weight: 500;
}

.select-menu{
    position: relative;
    padding-top: 7px;
    display: block;
    width: 100%;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: #97a0a6;
    background-color: #e6f0fa;
    border: none;
    border-top: solid 1px #d6dbe0;
}

.select-menu:hover{
    background-color: #b60051;
    color: white;
    cursor: pointer;
}

.popup-select{
    display: block;
    position: absolute;
    /*right: -150px;*/
    /*max-width: 50%;*/
    /*max-height: 50%;*/
    border: 1px solid #d6dbe0;
    background-color: #dee8f2;
    /*border-radius: 3px;*/
    font-size: small;
    font-weight: bold;
    width:100%;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}


.popup-select .popup-item, .popup-cat-item{
    display: block;
    /*float: left;*/
    padding: 5px;
    width: 100%;
    font-size: small;
    font-weight: bold;
    color: #838a90;
}

.popup-select .popup-item:hover, .popup-cat-item:hover{
    background-color: #b60051;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.sort-by{
    text-align: center;
    cursor: pointer;
    transition: all linear .5s;
}

.sort-by:before{

}

.sort-by i{
    transition: all linear .5s;
}
.sort-by:hover{
    background-color: #b60051;
    color: white;
}

.order i{
    cursor: pointer;
    font-size: 23px;
    transition: all linear .5s;
}

.order i:hover{
    color: #b60051;
}

.sort-by:hover i{
    color: white;
}

/* Миниблок пользователя */

.customer_mini_block{
    position: relative;
    height: 23px!important;
    line-height: normal;
    /*width:50px;*/
}

.customer_mini_block .hoverable_customer{
    position: relative;
    height: 23px;

}

.customer_mini_block .hoverable_cart{
    position: relative;
    height: 23px;

}

.hoverable_customer .auth_mini_block{
    display: none;
}

.hoverable_cart .cart_mini_block{
    display: none;
    line-height: 18px !important;
}

.hoverable_customer:hover .auth_mini_block{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.round{
    width: 130px;
    height: 130px;
    border-radius: 50% !important;
    background-color: white !important;
}

.hoverable_cart:hover .cart_mini_block{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}
.cart_mini_block{
    line-height: 18px !important;
}

.cart_mini_block .summ{
    margin: 3px;
}

.cart_mini_block .summ:before{
    content: "На сумму: ";
}

.cart_mini_block .summ:after{
    content: " р."
}

.cart_mini_block .counter{
    margin: 3px;
}

.cart_mini_block .counter:before{
    content: "Кол-во позиций: ";
}
.minicart table{

}



/* Блоки товаров */

.hidden{
    display: none
}

/* пагинация */

div.pagination_container{
    position: fixed;
    bottom: 15px;
    left: 50%;
    z-index: 16;
}
.pagination_container .prev_page{
    float: left;
    margin:10px;
}

.pagination_container .page_num{
    float: left;
    margin:10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #a3acb1 ;
    text-align: center;
    color: #b60051;
    transition: linear 0.5s;
}

.pagination_container .page_num.current{
    font-weight: bold;
    font-size: 18px;
    cursor: default;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: #b60051;
    text-align: center;
    color: white;
}
.pagination_container .page_num.current:hover{
    color: inherit;

}

.pagination_container .page_num:hover{
    color: firebrick;
}

.pagination_container .next_page{
    float:left;
    margin: 10px;
}

.pagination_container .next_page:after{
    content: '';
    clear: both;
}

/* Стандартный блок */

.std-item {
    position: relative;
    width: 160px;
    height: 320px;
    margin: 10px;
    float: left;
}
.std-item .std-item-img {
    overflow: hidden;
    width: 160px;
    height: 160px;
}
.std-item .std-item-img img{
    width: 160px;
    max-height: 160px;
}

.std-item .std-item-text{
    width: 160px;
    height: 65px;
    overflow: hidden;
    text-align: center;
}

.std-item .std-item-name{
    font-weight: bold;
    color: #70c1f6;
    text-align: center;
}

.circle-btn{
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    background-color: #b60051 !important;
    color: white;
}

.std-item-price{
    display: block;
    position: relative;
    width: 150px;
    height: 20px;
    color: white;
    font-weight: bold;
    background-color: #b60051;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5); !* Параметры тени *!*/
    border-radius: 0 0 5px 5px;
    left: -8px;
    bottom: -4px;
}

.rect-btn{
    width: 150px;
    height: 55px;
    background-color: #70c1f6 !important;
    color: white;
    font-weight: bold;
}

.std-item-to-cart{
    position: absolute;
    top: -5%;
    left: 110px;
    cursor: pointer;
}
.std-item-to-cart span{
    /*display: block;*/
    position: relative;
    /*float: left;*/
}

.addtocart{
    font-size: 23px;
    color: white;
    transition: all linear 0.5s;
}

.std-item-to-cart:hover .addtocart{
    color: #70c1f6;
}

/* Навигация */
ul{
    list-style: none;
    overflow: visible;
}

.navigation-top{ /* Контейнер меню */
    position: relative;
    margin-left: 25px;
    float: left;
    color: #a3acb1;
    font-weight: 500;
}

.navigation-top ul{
    background-color: #445566;
    margin-top: 0 !important;
    position: relative;
    padding-left: 0 !important;
}


.navigation-top span{
    cursor: pointer;
    white-space: nowrap;
}

.navigation-top ul span{

}

.navigation-top span:hover{
    color: #b60051;
}

.top-level-menu-item{ /* Элемент меню корневого типа */
    transition: background-color linear 1s;
    padding: 0 10px 0 10px;
}

.top-level-menu-item li.active{
    background-color: #334455;
    border-bottom: inset 5px #b60051
}

ul[class="menu_level*"] .top-level-menu-item{
    position: relative;
    margin: 10px;
    font-weight: normal;
    padding-right: 25px;
    padding-left: 25px;
}

.top-level-menu-item>ul{
    display: none;
    height: 0;
    transition: height linear 3s;
}

.top-level-menu-item:hover{
    background-color: #334455;
}

.top-level-menu-item:hover>ul{
    line-height: normal;
    height: auto;
    position: absolute;
    min-width: 250px;
    top: 60%;
    left: 30%;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-weight: normal;
    z-index: 999;
}

.top-level-menu-item:hover>ul li{
    display: block;
    position: relative;
    padding: 10px 25px 10px 25px;
    white-space: nowrap;
}

.top-level-menu-item a {
    text-decoration: none;
}

.current_ancestor{
    background-color: #334455;
    border-bottom: inset 5px #b60051;
}

/* Страница продукта */

div.itemView-body{
    position:relative;
    float: left;
    width: 100%;
    margin: 15px;
    padding: 10px;
}

/*div.product_image{*/
.product-info img{
    position: relative;
    display: block;
    float: left;
    margin: 0 20px 30px 0;
    /*width: 230px;*/
    /*background-color: rgba(197, 198, 199, 0.25);*/

}

.item-price {

    /*width: 120px;*/
    /*height: 120px;*/
    /*border-radius: 50%;*/
    float: right;
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(51, 51, 51);
    font-weight: bolder;
    background-color: white;
    text-align: center;
}

.item-info .spacer {
    width: 155px;
    height: 140px;
    float: right;
    position: relative;
    text-align: center;
    background-color: rgb(232, 225, 218);
}


.item-price p{
    font-size: 18px;
    font-weight: bold;
    margin: 0 !important;
    color: #686262;
    float: left;
}

.item-price p b{
    font-size: 22px;
}

.item-quantity{
    text-align: center;
    margin: 2px;
}

.item-quantity label{
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #686262;
}

.item-quantity input {
    width: 65px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 !important;
}

button.addtocart{
    display: block;
    float: left;
    font-size: 15px;
    font-weight: bold;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.itemImageBlock .item-oldprice{
    position: absolute;
    top: 80px;
    left: -10px;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: line-through;
    color: gray;
}

/*.itemImage>img{*/
    /*max-width: 1100px;*/
/*}*/
div.itemView-toolbar{
    width: 95%;
    margin-right:10px;
    border: none;
}
div.item-info{
    margin-left: 420px;
    padding: 20px;
    background-color: rgba(197, 198, 199, 0.25);
    min-height: 500px;
}

div.article-info{
    padding: 20px;
    background-color: rgba(197, 198, 199, 0.25);
    min-height: 500px;
}

div.itemView-header{
    /*float: left;*/
    display: inline;
    padding-bottom: 5px;
    /*font-family: Lato;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    border-bottom: 1px solid #d4d4d4;
    /*width: 700px;*/
}

div.itemView-header>h1{
    font-size: 24px;
    display: inline-block;
    max-width: 150px;
}

div.itemView-attrs{
    padding-top: 30px;
}

div.itemView-IntroText{
    /*font-family: Lato;*/
    display: block;
    /*float: left;*/
    font-size: 14px;
    border-bottom: 1px solid #d4d4d4;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: justify;
}

div.itemView-text>table{
    text-align: center;
}

.other-products>h2{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(197, 198, 199, 0.25)
}

.footericons{
    background: repeat-x url(../img/footericons.png);
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 15;
}

/* Корзина */

.rubbles:after{
    font-family: 'FontAwesome';
    content: '\f158';
    font-size: 14px;
    margin-left: 5px;
}

.mycart .controls{
    float: right;
}

.mycart-list{
    margin: 5px;
    max-width: 550px;
    float: left;
}

.mycart-list .std-item{
    height: auto;
    margin: 5px;
    z-index: 16;
    text-align: center;
}

.mycart-list .std-item p{
    margin: 2px 0  !important;
}

.mycart-list .cart-recount{
    width: 150px;
    margin: 0 !important;
    color: white;
    background-color: #70c1f6;
    border-radius: 10px 10px 0 0;
}

.mycart-list .cart-remove{
    padding: 0 !important;
    width: 150px;
    height: 18px;
    margin: 0 !important;
    color: white;
    background-color: #b60051;
    border-radius: 0 0 10px 10px;
}

.mycart-list .cart-quantity{
    margin: 3px !important;
    width: 100px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}