{% if counter < 1 %}
    <div></div>
    {% else %}
    <div card bg-white z-1 class="cart_mini_block">
            <div class="counter">{{ counter }}</div>
            <div class="summ">{{ cost }}</div>
            <div class="minicart">
            <a href="{{ path('_show_cart') }}">В корзину</a>
                <p>Там уже:</p>
                <table>
                    {% for product in products %}
                        <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                            <td>{{ product.product.name }}</td>
                            <td>{{ product.quantity }} шт.</td>
                            <td>На сумму <strong>{{ product
                                .quantity *
                            product
                            .product.calculatedPrice }}р.</strong></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

{% endif %}