<div list>
    {% for category in super %}
        <div item class="left_menu_item">
            <span>{{ category.name }}</span>
            <div class="left_menu_sub">
                {% for sub in category.categories %}
                    <a href="{{ path('_category_page', {'category': category.alias, 'alias': sub.alias}) }}">{{ sub
                        .name }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
