{% extends 'ZeroBundle:Default:index.html.twig' %}
{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.description }}{% endblock %}
{% block keywords %}{{ category.keywords }}{% endblock %}
{% block isMainPage %}{% endblock %}
{% block leftpanel %}{{ render(controller('ZeroBundle:Menu:leftMenu')) }}{% endblock %}

    {% block content %}

    <h1>{{ category.name }}</h1>
    <table style="margin-bottom: 20px; border-bottom: 1px solid #CCCCCC">
        <tr>
            {# sorting of properties based on query components #}
            <th style="padding: 0 5px">Сортировать по:</th>
            <th style="padding: 0 5px">{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
            <th style="padding: 0 5px" {% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>{{
                knp_pagination_sortable
                (pagination, 'Названию', 'p.name') }}</th>
            <th style="padding: 0 10px" {% if pagination.isSorted('p.calculatedPrice') %} class="sorted"{% endif
            %}>{{ knp_pagination_sortable
                (pagination, 'Цене', 'p.calculatedPrice') }}</th>
        </tr>
    </table>
        <div class="products">
            {% for product in pagination %}
                <div class="std-item {% if product.buddyLike == 1%}look-at-me{% endif %}">

                    <div class="std-item-img">
                        <a href="{{ path('_product_page', {'category': product.category.supercategory.alias, 'alias':
                            product.category.alias, 'id': product.id})
                        }}">
                            <img src="
                            {{ asset('images/Store/Product/') }}{{ product.introImg }}" alt="{{ product.description
                            }}"/>
                        </a>
                    </div>
                    <p class="std-item-name">{{ product.name }}</p>
                    <div class="std-item-text">
                        {{ product.introText }}
                    </div>
                    <a href="{{ path('_product_page', {'category': product.category.supercategory.alias, 'alias':
                        product.category.alias, 'id': product.id})
                    }}">
                        <button class="rect-btn" style="z-index: 17;" raised ripple-color="#9C27B0"><i style="font-size: 18px; margin-right: 5px" class="fa fa-eye"></i>Подробнее
                            <span class="std-item-price"><span class="rubbles">{{ product.calculatedPrice }}</span> за 1 {{
                                    product.unit }}</span>
                        </button>
                    </a>
                    <a href="{{ path('add_to_cart' , {'id': product.id}) }}">
                        <div class="std-item-to-cart" fab bg-pink600 z-1>
                            <i class="fa fa-cart-plus addtocart"></i>
                        </div>
                    </a>

                </div>
            {% endfor %}
            <div class="clear"></div>
        </div>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>

{% block pagination %}
{% endblock %}

{% endblock %}