<div class="proffi-feedback-form" style="display: none;">

    {{ form_start(form, {'action': path('proffi_feedback')}) }}
    <div class="proffi-form-layout">
        <div class="proffi-form-element">
            <div class="form-caption">{{ form_label(form.name) }}</div>
            {{ form_widget(form.name) }}
        </div>
        <div class="proffi-form-element">
            <div class="form-caption">{{ form_label(form.phone) }}</div>
            {{ form_widget(form.phone) }}
        </div>
        <div class="proffi-form-element">
            <div class="form-caption">{{ form_label(form.email) }}</div>
            {{ form_widget(form.email) }}
        </div>
        <div class="proffi-form-element">
            <div class="form-caption">{{ form_label(form.content) }}</div>
            {{ form_widget(form.content) }}
        </div>
        <div class="proffi-form-submit">
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>