<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    {#<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">#}
    <title>{% block title %}Универсальный магазин строительных материалов.{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="Keywords" content="{% block keywords %}{% endblock %} купить в Москве Орле Курске Воронеже
    Железногорске Брянске">
    <meta name="robots" content="noyaca"/>
    <meta name="robots" content="all"/>
    <link rel="icon" href="http://smesiproffi.ru/favicon.ico" type="image/x-icon">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css')}}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/md-css.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ion.rangeSlider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ion.rangeSlider.skinNice.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/md-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
    {% block scripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src="{{ asset('js/zepto.min.js') }}"></script>
        <script src="{{ asset('js/velocity.min.js') }}"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        {#<script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>#}
        <script type="text/javascript">
        jQuery.noConflict();
        </script>
        <script src="{{ asset('js/ion.rangeSlider.js') }}"></script>
        <script src="{{ asset('js/local.framework.js') }}"></script>
        <script src="{{ asset('js/pagerClass.js') }}"></script>
        <script src="{{ asset('js/buddy.js') }}"></script>
    {% endblock %}
</head>
<body material fluid>
{% block isMainPage %}<input type="hidden" id="isMainPage" data-main-page="1">{% endblock %}
<div toolbar>
    <div class="top-line">

        <div class="top-contacts">
            <div class="mail">
                <img src="{{ asset('/img/mail.png') }}" alt=""/> <span>someemail@email.email</span>
            </div>
            <div class="skype">
                <img src="{{ asset('/img/skype.png') }}" alt=""> <span>skypelogin</span>
            </div>
            <div class="phone">
                <img src="{{ asset('/img/phone.png') }}" alt=""> <span>callmeplease</span>
            </div>
            <div class="clear"></div>
        </div>
        <div right class="customer_mini_block">
            <div right class="hoverable_customer">
                <i class="fa fa-user" style="font-size: 23px; color: black;"></i>
                {{ render(controller('ZeroBundle:Security:miniLogin')) }}
            </div>
            <div right class="hoverable_cart">
                <i class="fa fa-shopping-cart" style="font-size: 23px; color: black;"></i>
                {{ render(controller('ZeroBundle:Cart:miniCart')) }}
            </div>
        </div>
        <div class="clear"></div>

    </div>

        <span left panel-target="panel1" class="float-left">
          <i class="fa fa-bars" style="font-size: 34px;color: white;left: 5px;position: relative;top: 6px;"></i>
        </span>
    {% block toptoolbar %}
        <div class="logotype">
            <a href="{{ path('_homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="Магазин строительных материалов
            'Строй
            БАЗА'"></a>
        </div>
        <div class="navigation-top">
            {{ knp_menu_render('ZeroBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
        </div>
        {% block headertitle %}{% endblock %}
    {% endblock %}

</div>
<div panel nodim id="panel1">
    <div drawer id="drawer">
        {% block leftpanel %}
            <div class="filter">
                <form action="{{ path('_ajax_choice') }}" name="filter_form" id="filter_form">
                    <div control>
                    <label for="like">Я ищу: </label>
                    <input type="text" name="like" id="like" placeholder="Я ищу этот товар" value=""/>
                    </div>
                    <div id="supercat">
                        <h3>Категории товаров:</h3>
                        <span id="supercat_select" data-clicked="0" class="select-menu">Выберите категорию...
                        </span>
                    </div>
                    <div id="supercat_list" class="popup-select hidden">
                        <span class="popup-item" data-id="all">Все категории</span>
                        {% for super in globals_helper.getSuperCategories() %}
                            <span class="popup-item" data-id="{{ super.id }}">{{ super.name }}</span>
                        {% endfor %}
                        <div class="clear"></div>
                    </div>
                    <div id="cats" class="hidden">
                        <h3>Подкатегории:</h3>
                        <span id="cat_select" data-clicked="0" class="select-menu">Выберите подкатегорию...
                        </span>
                    </div>
                    <div id="cats-list" class="popup-select hidden">

                    </div>
                    <div id="filters">
                        <div control>
                            <input type="hidden" id="min_p" value="{{ globals_helper.minPrice }}">
                            <input type="hidden" id="max_p" value="{{ globals_helper.maxPrice }}">
                            <p>В пределах цены:</p>
                            <input type="text" id="slider" name="slider" value="" />
                        </div>
                        <table style="border: none">
                            <tr>
                                <td colspan="3">
                                    <h4>Сортировать по:</h4>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:50px;" title="Сортировать по цене" class="sort-by"
                                    data-sort="calculatedPrice">
                                    <i class="fa fa-rub" style="font-size: 23px"></i>Цене
                                </td>
                                <td title="Сортировать по наименованию" class="sort-by" data-sort="name">
                                    <i class="fa fa-font" style="font-size: 23px"></i>Наименованию
                                </td>
                                <td  title="Сортировать по популярности" class="sort-by" data-sort="boughtCounter">
                                    <i class="fa fa-star" style="font-size: 23px"></i>Популярности
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label for="oder_dir">В направлении:</label>
                                </td>
                                <td class="order">
                                    <i style="margin: 10px" class="fa  fa-caret-square-o-up order-dir"
                                       data-order="ASC"></i>
                                    <i class="fa fa-caret-square-o-down order-dir" data-order="DESC"></i>
                                    {#<select name="order_dir" id="order_dir">#}
                                        {#<option value="ASC">По возрастанию</option>#}
                                        {#<option value="DESC">По убыванию</option>#}
                                    {#</select>#}
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        {#{{ render(controller('ZeroBundle:Menu:leftMenu')) }}#}
        {% endblock %}
    </div><!-- end of drawer -->
    <div main>
        <div content id="content">
            {% for flash_message in app.session.flashbag.get('notice') %}
                <div card fluid bg-green50 fg-black>
                    {{ flash_message | raw }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('error') %}
                <div card fluid bg-red400 fg-white>
                    {{ flash_message | raw }}
                </div>
            {% endfor %}
            {% block content %}

            {% for product in promoted %}
                <div class="std-item {% if product.buddyLike == 1%}look-at-me{% endif %} hidden">

                        <div class="std-item-img">
                            <a href="{{ path('_product_page', {'category': product.category.supercategory.alias, 'alias':
                                product.category.alias, 'id': product.id})
                            }}">
                                <img src="
                            {{ asset('images/Store/Product/') }}{{ product.introImg }}" alt="{{ product.description
                                }}"/>
                            </a>
                        </div>
                        <p class="std-item-name">{{ product.name }}</p>
                        <div class="std-item-text">
                            {{ product.introText }}
                        </div>
                        <a href="{{ path('_product_page', {'category': product.category.supercategory.alias, 'alias':
                            product.category.alias, 'id': product.id})
                        }}">
                            <button class="rect-btn" raised ripple-color="#9C27B0"><i style="font-size: 18px;
                            margin-right: 5px"
                                                                                      class="fa fa-eye"></i>
                                Подробнее
                                <span class="std-item-price"><span class="rubbles">{{ product.calculatedPrice }}</span> за 1
                                        {{
                                    product
                                    .unit
                                    }}</span>
                            </button>
                        </a>
                        <div class="std-item-to-cart" fab bg-pink600 z-1 data-pid="{{ product.id }}">
                            <i class="fa fa-cart-plus addtocart"></i>
                        </div>


                </div>
            {% endfor %}
            {% endblock %}
        </div>
    </div><!-- end of main -->
</div><!-- end of panel -->
{% block foot_scripts %}
<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
<script src="{{ asset('js/md-js.min.js') }}"></script>
<div class="footericons"></div>
</body>
</html>