{% extends 'ZeroBundle:Default:index.html.twig' %}
{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.description }}{% endblock %}
{#{% block keywords %}{{ category.keywords }}{% endblock %}#}

{% block content %}

    <h1>{{ category.name }}</h1>
    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>Сортировать по:</th>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
            <th{% if pagination.isSorted('c.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable
                (pagination, 'Названию', 'c.name') }}</th>
        </tr>
    </table>
        <div class="categories">
            {% for category in pagination %}
                <div card z-1 class="category_block">
                    <div class="category_block_image">
                        <a href="{{ path('_category_page', {'category': category.supercategory.alias, 'alias':
                            category.alias})
                        }}">
                            <img src="
                            {{ asset('images/Store/Category/') }}{{ category.image }}" alt="{{ category.description
                            }}" style="width: 180px">
                        </a>
                    </div>
                    <p>{{ category.name }}</p>
                    <a href="{{ path('_category_page', {'category': category.supercategory.alias, 'alias':
                        category.alias})
                    }}">
                        <button bg-indigo900 raised ripple-color="#9C27B0">Список товаров</button>
                    </a>
                </div>
            {% endfor %}
        </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% block pagination %}
{% endblock %}

{% endblock %}