{% extends 'ZeroBundle:Default:mycart.html.twig' %}
{% block content %}
    {% if not app.user %}
        <div class="proffi-login-form">
            {{ render(controller('ZeroBundle:Security:login')) }}
        </div>
    {% else %}
        <div class="proffi-deal-confirmation">
            <h1>Выберите способ доставки</h1>
            <form name="form" action="{{ path('_makeadeal') }}" method="post">
                <div control id="delivery" style="max-width: 500px">
                    <table>
                        <tr>
                            <th>Форма доставки</th>
                            <th>Описание</th>
                        </tr>
                    {% for delivery in deliveries %}
                        <tr>
                            <td>
                    <input type="radio"
                           id="delivery_{{ delivery.id }}" name="form[delivery]" value="{{ delivery.id
                    }}"/>
                        <label for="delivery_{{ delivery.id }}">{{ delivery.name }}</label>
                            </td>
                            <td>
                                {{ delivery.description|raw }}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div control id="address">
                    <label for="form_address">Адрес доставки</label>
                    <select id="form_address" name="form[address]">
                        {% for address in addresses %}
                        <option value="{{ address.id }}">{{ address.address }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div control>
                    <button type="submit" id="form_save" name="form[save]" ripple="true" rippleready="true">Подтвердить</button>
                </div>
            </form>
        </div>
    {% endif %}
    <script src="{{ asset('js/delivery.js') }}"></script>
{% endblock %}