{% extends 'ZeroBundle:Default:index.html.twig' %}
{% block categories %}
{% endblock %}
{% block isMainPage %}{% endblock %}
{% block leftpanel %}
    {{ render(controller('ZeroBundle:Menu:leftMenu')) }}
{% endblock %}
{% block content %}
    {% if not notfound %}
    <div class="mycart">

        <div class="controls">
            <h1>Это Ваша корзина!</h1>
            <p>В ней {{ products|length }} товаров на общую сумму <span class="rubbles"><b>{{ costs }}</b></span>. Вы
                можете:</p>
                <a href="{{ path('_makeadeal') }}" >Оформить
                        покупку</a> или
                <a href="{{ path('_homepage') }}" >Вернуться на
                        главную</a>
        </div>
        <div class="mycart-list">
            {% if products %}
                {% for product in products %}
                    {{ render(controller('ZeroBundle:Cart:renderProductPosition',
                    {'product': product})) }}
                {% endfor %}
                <div class="clear"></div>
            {% endif %}
        </div>
        {#<a href="{{ path('_cart_check') }}">#}
            {#<div class="proffi-submit-btn">Подтвердить выбор</div>#}
        {#</a>#}

    </div>
        {% else %}
            <h2>Ваша корзина пуста!</h2>
        {% endif %}
{% endblock %}
{% block foot_scripts %}
{% endblock %}