{% extends 'ZeroBundle:Default:mycart.html.twig' %}

{% block content %}
    <h2>Вы намерены приобрести:</h2>
    <div class="proffi-mycart">
        <div class="proffi-cart-table">
    <table class="proffi-mycart-list" style="text-align: center">
        <th>

        </th>
        <th style="width: 200px">Наименование товара</th>
        <th style="width: 80px">Количество</th>
        <th style="width: 50px">Цена</th>
        <th style="width: 100px">Сумма</th>
        {% for product in products %}
                {{ render(controller('ZeroBundle:Cart:productPositionSubmit', {'product': product})) }}
        {% endfor %}
    </table>
        </div>
        <h3>Общая стоимость покупки составляет: {{ cost }} р.</h3>
        <div class="proffi-btn-block">
            <a href="{{ path('_makeadeal') }}" ><div class="proffi-submit-btn">Оформить
                    покупку</div></a>
            <a href="{{ path('_homepage') }}" ><div class="proffi-reject-btn">Вернуться на
                    главную</div></a>
            <a href="{{ path('_show_cart') }}" ><div class="proffi-submit-btn">Исправить список
                    покупок</div></a>
        </div>
    </div>
{% endblock %}
{% block foot_scripts %}
{% endblock %}