<tr class="proffi-cart-product-position">
    <td><img src="{{ asset('images/Store/Product/') }}{{ product.introImg }}" alt="{{ product.description }}"></td>
    <td><a href="{{ path('_product_page', {'alias': product.alias }) }}">{{ product.name }}</a></td>
    <td>{{ ptc.quantity }}</td>
    <td>{{ product.calculatedPrice }} <strong>р.</strong></td>
    <td>{{ ptc.quantity * product.calculatedPrice }} <strong>р.</strong></td>
</tr>

