{% extends 'ZeroBundle:Default:index.html.twig' %}
{% block title %}{{ product.category.name }}, {{ product.name }}{% endblock %}
{% block description %}{{ product.description }}{% endblock %}
{% block keywords %}{{ product.keywords }}{% endblock %}
{% block isMainPage %}{% endblock %}
{% block leftpanel %}
    {{ render(controller('ZeroBundle:Menu:leftMenu')) }}
{% endblock %}
{% block content %}

<div class="itemView-body">
    {{ form_start(form) }}


    <div class="product-info">
        {#<div class="product_image">#}
            <img src="{{ asset('images/Store/Product/') }}{{ product.introImg }}" alt="{{ product.introText }}"  />

            {#<div class="clear"></div>#}

        {#</div>#}
        {#<div class="spacer"></div>#}
        <div class="itemView-header">
            <h1 class="itemTitle">
                {{ product.name }}
            </h1>
        </div>
        <div class="itemView-attrs">
            <div class="item-price">
                {{ form_widget(form.add) }}
                <p>по <b>{{ product.calculatedPrice }} р.</b></p>
                <p>за 1 {{ product.unit }}</p>
                <div class="item-quantity">
                    {{ form_label(form.quantity) }}
                    {{ form_widget(form.quantity) }}
                </div>
            </div>
            {% if product.manufacturer %}
            <p>Производитель: <b>{{ product.manufacturer.name }}</b></p>
            {% endif %}
            <table>
            {% for attr in product.additionalFields %}
                <tr>
                    <td><b>{{ attr.key }} :</b></td>
                    <td>{{ attr.value }}</td>
                </tr>
            {% endfor %}
            </table>
            <div class="clear"></div>
        </div>

        <div class="itemView-IntroText">
            <p>
            {{ product.introText | raw}}
            </p>
        </div>
        {% if product.allText %}

        <div class="itemView-fullText">
            <p>
            {{ product.allText | raw }}
            </p>
        </div>
        {% endif %}
    </div>

    {{ form_end(form) }}
</div>

<div class="clear"></div>

<div class="other-products">
    <h2>Другая продукция в категории {{ product.category.name }}</h2>
    <div class="promoted_products">
        {% for product in promoted %}
            <div class="std-item {% if product.buddyLike == 1%}look-at-me{% endif %}">

                <div class="std-item-img">
                    <a href="{{ path('_product_page', {'category': product.category.supercategory.alias, 'alias':
                        product.category.alias, 'id': product.id})
                    }}">
                        <img src="
                            {{ asset('images/Store/Product/') }}{{ product.introImg }}" alt="{{ product.description
                        }}"/>
                    </a>
                </div>
                <p class="std-item-name">{{ product.name }}</p>
                <div class="std-item-text">
                    {{ product.introText }}
                </div>
                <a href="{{ path('_product_page', {'category': product.category.supercategory.alias, 'alias':
                    product.category.alias, 'id': product.id})
                }}">
                    <button class="rect-btn" style="z-index: 17;" raised ripple-color="#9C27B0"><i style="font-size: 18px; margin-right: 5px" class="fa fa-eye"></i>Подробнее
                        <span class="std-item-price"><span class="rubbles">{{ product.calculatedPrice }}</span> за 1 {{
                                product.unit }}</span>
                    </button>
                </a>
                <a href="{{ path('add_to_cart' , {'id': product.id}) }}">
                    <div class="std-item-to-cart" fab bg-pink600 z-1>
                        <i class="fa fa-cart-plus addtocart"></i>
                    </div>
                </a>

            </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
{% block foot_scripts %}
{% endblock %}