<div class="std-item">
    {{ form_start(form) }}
    <div class="std-item-img">
        <a href="{{ path('_product_page', {'category': relatedProduct.category.supercategory.alias, 'alias':
            relatedProduct.category.alias, 'id': relatedProduct.id})
        }}">
            <img src="
                            {{ asset('images/Store/Product/') }}{{ relatedProduct.introImg }}" alt="{{ relatedProduct.description
            }}"/>
        </a>
    </div>
    <p class="std-item-name">{{ relatedProduct.name }}</p>
    {{ form_widget(form.quantity) }}
    <div class="additional-info">
    <p>Сумма:</p>
    <strong>
        <p class="rubbles"><b>{{ product.quantity * relatedProduct.calculatedPrice }}</b></p>
            </strong>
    </div>
    {{ form_widget(form.recount) }}
    {{ form_widget(form.remove) }}
    {{ form_end(form) }}
</div>