<div id="slideshow">
    <div id="slidesContainer">
        {% for product in products %}
        <div class="slide">
            <div class="slideLeftPart">

                <div class="slideImg"><img src="{{ asset('images/Store/Product/') }}{{ product.introImg }}"
                                           alt=""></div>
                <div class="slideText">
                    <h1 class="slideLeftTitle">{{ product.name }}</h1>
                    <p class="slideLeftText">{{ product.introtext | raw }}</p>
                </div>
            </div>
            <div class="slideRightPart">
                <div class="slider-price">{{ product.calculatedPrice }} р.</div>
                {#<h1 class="slideRightTitle">{{ product.category.name }}</h1>#}
                <div class="divider"></div>
                <a href=" {{ path('_product_page', { 'alias': product.alias }) }}"
                   class="slide-item-btn"><p>ПОДРОБНЕЕ</p></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>