<?xml version="1.0" encoding="utf-8"?>
    <yml_catalog date="{{ date | date('Y-m-d H:m') }}">
        <shop>
            <name>smesiproffi.ru</name>
            <company>ООО &quot;КСС&quot;ПРОФИ&quot;&quot;</company>
            <url>http://smesiproffi.ru/</url>
            <platform>ZeroBundle</platform>
            <version>0.1</version>
            <email>zeroabe@ya.ru</email>
            <currencies>
                <currency id="RUR" rate="1"/>
            </currencies>
            <categories>
                {% for category in categories %}
                <category id="{{ category.id }}">{{ category.name }}</category>
                {% endfor %}
            </categories>
            {#<delivery-options> ... </delivery-options>#}
            <cpa>0</cpa>
            <offers>
                {% for product in products %}
                <offer id="{{ product.id }}" type="vendor.model" available="true">
                    <url>{{ absolute_url(path('_product_page', {'alias': product.alias})) }}</url>
                    <price>{{ product.calculatedPrice }}</price>
                    {#<oldprice>17000</oldprice>#}
                    <currencyId>RUR</currencyId>
                    <categoryId>{{ product.category.id }}</categoryId>
                    <picture>http://smesiproffi.ru/images/Store/Product/{{ product.introImg }}</picture>
                    <store>true</store>
                    <pickup>true</pickup>
                    <delivery>true</delivery>
                    {#<delivery-options>#}
                        {#<option cost="200" days="1"/>#}
                    {#</delivery-options>#}
                    <typePrefix>{{ product.category.name }}</typePrefix>
                    <vendor>ООО &quot;КСС&quot;ПРОФИ&quot;&quot;</vendor>
                    {#<vendorCode>CH366C</vendorCode>#}
                    <model>{{ product.name }}</model>
                    <description>{{ product.description }}</description>
                    {#<sales_notes>Необходима предоплата.</sales_notes>#}
                    {#<manufacturer_warranty>true</manufacturer_warranty>#}
                    <country_of_origin>Россия</country_of_origin>
                    {#<barcode>1234567890120</barcode>#}
                    {#<cpa>1</cpa>#}
                    {#<rec>123123,1214,243</rec>#}
                    {#<expiry>P5Y</expiry>#}
                    {#<weight></weight>#}
                    {#<dimensions>100/25.45/11.112</dimensions>#}
                    {#<param name="Максимальный формат">А4</param>#}
                    {#<param name="Технология печати">термическая струйная</param>#}
                    {#<param name="Тип печати">Цветная</param>#}
                    {#<param name="Количество страниц в месяц" unit="стр">1000</param>#}
                    {#<param name="Потребляемая мощность" unit="Вт">20</param>#}
                    {#<param name="Вес" unit="кг">2.73</param>#}
                </offer>
                {% endfor %}
            </offers>
        </shop>
    </yml_catalog>
    <head></head>
    <body></body>